jade      931623039  9  4 f   -     -     -          940    0    0 
jade      931623070  8  2 Bc  kf    -     -          940   20    0 
jade      931623106  7  1 Bc  kf    -     -          920   20    0 
jade      931623164  7  7 f   -     -     -          900    0    0 
jade      931623184  7  6 f   -     -     -          900    0    0 
jade      931623212  7  5 cc  f     -     -          900   20    0 
jade      931623245  7  4 f   -     -     -          880    0    0 
jade      931623306  8  3 f   -     -     -          880    0    0 
jade      931623346  7  2 Bk  b     b     -          880   40   85 
jade      931623381  8  1 Bc  kf    -     -          925   20    0 
jade      931623419  8  8 f   -     -     -          905    0    0 
jade      931623459  8  7 r   br    b     k          905   70    0 3c 8c
jade      931623491  8  6 r   b     -     -          835   30   55 
jade      931623506  8  5 f   -     -     -          860    0    0 
jade      931623530  9  4 f   -     -     -          860    0    0 
jade      931623584  9  3 cc  kr    brc   krr        860  200  595 Jc Jd
jade      931623671  9  2 Bc  k     kf    -         1255   20    0 
jade      931623706  9  1 Bf  -     -     -         1235    5    0 
jade      931623738  9  9 r   rr    rc    c         1230  150    0 Qc Qd
jade      931623785 10  8 f   -     -     -         1080    0    0 
jade      931623819 10  8 f   -     -     -         1080    0    0 
jade      931623860  9  6 f   -     -     -         1080    0    0 
jade      931623897  9  5 f   -     -     -         1080    0    0 
jade      931623937  9  4 f   -     -     -         1080    0    0 
jade      931624018 10  4 f   -     -     -         1080    0    0 
jade      931624051  8  2 Bk  kf    -     -         1080   10    0 
jade      931624104  8  1 Bf  -     -     -         1070    5    0 
jade      931624121  9  9 rr  b     b     b         1065   90    0 9s Js
jade      931624201 10  8 f   -     -     -          975    0    0 
jade      931624235  9  6 Q   -     -     -          975    0    0 
jade      931819682  5  4 f   -     -     -         1853    0    0 
jade      931819719  5  3 f   -     -     -         1853    0    0 
jade      931819746  5  2 Bk  kf    -     -         1853   10    0 
jade      931819777  5  1 Bf  -     -     -         1843    5    0 
jade      931819786  5  5 rc  k     c     c         1838   70    0 Qs Ts
jade      931819839  6  5 f   -     -     -         1768    0    0 
jade      931819873  6  4 cc  f     -     -         1768   40    0 
jade      931819914  7  3 cc  cc    kf    Q         1728   40    0 
