pug       911971711  7  6 f   -     -     -         1000    0    0 
pug       911971790  8  6 r   rr    rc    rc        1000  191  452 8h Ac 2d 6s
pug       911971895  7  4 f   -     Q     -         1261    0    0 
