pug       889414233  8  3 f   -     -     -         3335    0    0 
pug       889414250  8  2 Bk  f     -     -         3335   20    0 
pug       889414285  8  1 Bc  kf    -     -         3315   20    0 
pug       889414314  8  8 r   bc    r     b         3295  200  490 Ac Ks
pug       889414365  8  7 f   -     -     -         3585    0    0 
pug       889414427  8  6 f   -     -     -         3585    0    0 
pug       889414458  8  5 f   -     -     -         3585    0    0 
pug       889414487  8  4 rc  b     kc    kf        3585  120    0 
pug       889414533  8  3 f   -     -     -         3465    0    0 
pug       889414565  8  2 Bk  b     kc    kf        3465   80    0 
pug       889414621  8  1 Bc  b     -     -         3385   40   80 
pug       889414638  8  8 rcc k     b     b         3425  160    0 8c 7h
pug       889414701  8  7 c   f     -     -         3265   20    0 
pug       889414748  8  6 f   -     -     -         3245    0    0 
pug       889414788  8  5 f   -     -     -         3245    0    0 
pug       889414829  7  4 cc  k     f     -         3245   40    0 
pug       889414868  7  3 cc  b     kf    -         3205   60    0 
pug       889414890  7  2 Bk  k     f     -         3145   20    0 
pug       889414924  7  1 Bc  b     k     kf        3125   40    0 
pug       889414966  8  7 r   k     f     -         3085   40    0 
pug       889415004  8  6 c   k     b     -         3045   60  110 
pug       889415042  8  5 f   -     -     -         3095    0    0 
pug       889415085  8  4 f   -     -     -         3095    0    0 
pug       889415134  8  3 f   -     -     -         3095    0    0 
pug       889415167  8  2 Bc  bc    bc    kc        3095  200    0 9h 4h
pug       889415226  8  1 Bc  kc    k     b         2895   80  200 
pug       889415278  8  8 f   -     -     -         3015    0    0 
pug       889415346  8  7 c   b     bc    c         3015  160  370 5h Ah
pug       889415414  8  6 f   -     -     -         3225    0    0 
pug       889415452  8  5 f   -     -     -         3225    0    0 
pug       889415521  8  4 f   -     -     -         3225    0    0 
pug       889415541  9  3 f   -     -     -         3225    0    0 
pug       889415586  9  2 Bk  kf    -     -         3225   20    0 
pug       889415627  9  1 Br  kr    b     b         3205  180  440 Qs Ad
pug       889415665  9  9 f   -     -     -         3465    0    0 
pug       889415683  9  8 f   -     -     -         3465    0    0 
pug       889415706  9  7 f   -     -     -         3465    0    0 
pug       889415766  9  6 f   -     -     -         3465    0    0 
pug       889415841  9  7 c   kf    -     -         3465   20    0 
pug       889415868  7  4 f   -     -     -         3445    0    0 
pug       889415921  7  3 r   -     -     -         3445   40   70 
pug       889415939  7  2 Bc  k     kf    -         3475   40    0 
pug       889415969  7  1 Bc  kf    -     -         3435   20    0 
pug       889416027  7  7 c   cc    k     f         3415   60    0 
pug       889416126  8  5 c   r     k     b         3355  100  190 
pug       889416155  8  4 c   f     -     -         3445   20    0 
pug       889416227  8  3 f   -     -     -         3425    0    0 
pug       889416246  8  2 Bk  bc    kf    -         3425   60    0 
pug       889416297  8  1 Bf  -     -     -         3365   10    0 
pug       889416334  8  8 r   r     b     k         3355  120    0 Ah Js
pug       889416391  8  7 f   -     -     -         3235    0    0 
pug       889416428  8  6 f   -     -     -         3235    0    0 
pug       889416450  8  5 f   -     -     -         3235    0    0 
pug       889416512  9  4 f   -     -     -         3235    0    0 
pug       889416544  9  3 f   -     -     -         3235    0    0 
pug       889416612  9  2 Bf  -     -     -         3235   20    0 
pug       889416671  9  1 Bc  bc    b     k         3215  100    0 8d 8h
pug       889416699  9  9 f   -     -     -         3115    0    0 
pug       889416766  9  8 f   Q     -     -         3115    0    0 
pug       889508008  7  7 f   -     -     -         3115    0    0 
pug       889508060  8  6 f   -     -     -         3115    0    0 
pug       889508136  8  5 f   -     -     -         3115    0    0 
pug       889508248  8  4 r   k     f     -         3115   40    0 
pug       889508272  8  3 f   -     -     -         3075    0    0 
pug       889508297  8  2 Bk  bc    kr    b         3075  180  450 Tc 6h
pug       889508361  8  1 Bc  kf    -     -         3345   20    0 
pug       889508403  8  8 f   -     -     -         3325    0    0 
pug       889508470  8  7 f   -     -     -         3325    0    0 
pug       889508560  7  5 c   c     f     -         3325   40    0 
pug       889508625  7  4 cc  bc    c     c         3285  160  540 Kc 9d
pug       889508693  7  3 f   -     -     -         3665    0    0 
pug       889508765  7  2 Bk  b     b     k         3665   80  200 Jh 9c
pug       889508809  7  1 Bc  k     kf    -         3785   20    0 
pug       889508871  7  7 c   f     -     -         3765   20    0 
pug       889508939  7  6 f   -     -     -         3745    0    0 
pug       889509000  7  5 r   rr    b     kc        3745  200  640 Qh Qs
pug       889509058  7  4 f   -     -     -         4185    0    0 
pug       889509104  7  3 f   -     -     -         4185    0    0 
pug       889509139  7  2 Bk  b     kr    b         4185  160  380 
pug       889509187  7  1 Bc  kc    kf    -         4405   60    0 
pug       889509231  7  7 r   -     -     -         4345   40   70 
pug       889509271  7  6 c   k     b     -         4375   60  110 
pug       889509354  7  5 r   b     b     b         4425  140  270 
pug       889509396  6  3 f   -     -     -         4555    0    0 
pug       889509403  6  2 Br  b     b     bc        4555  200    0 Qh Ah
pug       889509434  6  1 Bf  -     -     -         4355   10    0 
pug       889509458  6  6 c   c     c     r         4345  160  320 
pug       889509513  6  5 r   b     bc    c         4505  180    0 Qh 8d
pug       889509594  5  3 f   -     -     -         4325    0    0 
pug       889509611  4  2 Bk  f     -     -         4325   20    0 
pug       889509630  4  1 Br  -     -     -         4305   40   60 
pug       889509636  4  4 r   c     f     -         4325   60    0 
pug       889509658  4  3 f   -     -     -         4265    0    0 
pug       889509701  4  2 Bk  bc    k     b         4265  100  220 Ks Jh
pug       889509727  4  1 Br  -     -     -         4385   40   60 
pug       889509745  4  4 c   f     -     -         4405   20    0 
pug       889509801  4  3 r   b     kf    -         4385   60    0 
pug       889509843  4  2 Br  b     bc    kf        4325  140    0 
pug       889509874  4  1 Bf  -     -     -         4185   10    0 
pug       889509897  4  4 f   -     -     -         4175    0    0 
pug       889509922  4  3 r   b     b     -         4175  100  240 
pug       889509949  4  2 Bc  b     b     k         4315  100  240 Ac Th
pug       889509978  4  1 Bc  b     k     b         4455   80  120 
pug       889509997  4  4 f   -     -     -         4495    0    0 
pug       889510024  4  3 f   -     -     -         4495    0    0 
pug       889510042  4  2 Bk  kr    b     b         4495  160  200 3c Js
pug       889510070  4  1 Bcc b     bc    kc        4535  180  180 4c 7s
pug       889510096  4  4 f   -     -     -         4535    0    0 
pug       889510140  3  2 Bk  f     -     -         4535   20    0 
pug       889510156  3  1 Br  b     -     -         4515   60  140 
pug       889510167  3  3 f   -     -     -         4595    0    0 
pug       889510170  3  2 Bc  bc    kc    b         4595  160  290 
pug       889510197  3  1 Bc  kf    -     -         4725   20    0 
pug       889510212  3  3 r   k     f     -         4705   40    0 
pug       889510232  3  2 Bc  r     k     k         4665   80    0 Qd Jh
pug       889510254  3  1 Bc  k     b     b         4585  100  160 
pug       889510291  3  3 f   -     -     -         4645    0    0 
pug       889510333  3  2 B   -     -     -         4645   20   30 
pug       889510347  3  1 Bc  kf    -     -         4655   20    0 
pug       889510359  3  3 r   b     b     b         4635  140  250 
pug       889510389  3  2 Bk  f     -     -         4745   20    0 
pug       889510407  3  1 Bcf -     -     -         4725   20    0 
pug       889510419  3  3 f   -     -     -         4705    0    0 
pug       889510445  3  2 Bf  -     -     -         4705   20    0 
pug       889510464  3  1 Bc  k     b     -         4685   60   80 
pug       889510493  3  3 r   -     -     -         4705   40   70 
pug       889510500  3  2 B   -     -     -         4735   20   30 
pug       889510502  3  1 Br  b     -     -         4745   80  160 
pug       889510515  3  3 f   -     -     -         4825    0    0 
pug       889510520  3  2 Br  b     b     -         4825  120  240 
pug       889510546  3  1 Bf  -     -     -         4945   10    0 
pug       889510551  3  3 f   -     -     -         4935    0    0 
pug       889510558  3  2 Bc  c     r     b         4935  180  360 8h 7c
pug       889510582  3  1 Br  kr    -     -         5115   80  140 
pug       889510617  3  3 f   -     -     -         5175    0    0 
pug       889510625  3  2 Bf  -     -     -         5175   20    0 
pug       889510638  3  1 Bc  kf    -     -         5155   20    0 
pug       889510659  3  3 f   -     -     -         5135    0    0 
pug       889510671  3  2 Bk  k     f     -         5135   20    0 
pug       889510688  3  1 Bc  b     -     -         5115   40   60 
pug       889510703  3  3 r   -     -     -         5135   40   70 
pug       889510708  3  2 Bc  b     b     bc        5165  180    0 5s 2s
pug       889510733  3  1 Bf  -     -     -         4985   10    0 
pug       889510761  3  3 f   -     -     -         4975    0    0 
pug       889510781  3  2 Br  c     c     f         4975  100    0 
pug       889510805  3  1 Bc  k     b     k         4875   60  140 Jc 9d
pug       889510830  3  3 f   -     -     -         4955    0    0 
pug       889510837  3  2 Bf  -     -     -         4955   20    0 
pug       889510861  3  1 BKQ -     -     -         4935   10    0 
pug       889682263 10 10 f   -     -     -         4925    0    0 
pug       889682331  9  8 f   -     -     -         4925    0    0 
pug       889682435  9  7 cc  c     c     k         4925  100  120 7d As
pug       889682526  9  6 f   -     QQ    -         4945    0    0 
pug       890114539  4  4 f   -     -     -         4945    0    0 
pug       890114583  3  2 f   -     -     -         4945    0    0 
pug       890114593  3  2 Bk  k     b     -         4945   60   80 
pug       890114615  3  1 Bcc kf    -     -         4965   40    0 
pug       890114631  3  3 r   -     -     -         4925   40   70 
pug       890114639  3  2 B   -     -     -         4955   20   30 
pug       890114643  3  1 Bc  k     k     k         4965   20    0 7h 5d
pug       890114660  3  3 f   -     -     -         4945    0    0 
pug       890114668  3  2 Bc  c     br    b         4945  220  620 Kh 5s
pug       890114711  3  1 Bf  -     -     -         5345   10    0 
pug       890114739  3  3 f   -     -     -         5335    0    0 
pug       890114743  3  2 Bk  b     -     -         5335   40   70 
pug       890114758  3  1 Bc  bc    kf    -         5365   60    0 
pug       890114784  3  3 cc  f     -     -         5305   40    0 
pug       890114801  4  2 B   -     -     -         5265   20   30 
pug       890114812  4  1 Bcc bc    bc    kc        5275  220    0 Kh Jd
pug       890114848  4  4 f   -     -     -         5055    0    0 
pug       890114876  4  3 r   b     b     b         5055  140  290 8d Ac
pug       890114903  4  2 Bk  b     k     c         5205   80   80 6c 5c
pug       890114943  4  1 Bc  kf    -     -         5205   40    0 
pug       890114968  4  4 c   b     c     f         5165   80    0 
pug       890115022  4  3 f   -     -     -         5085    0    0 
pug       890115073  4  2 B   -     -     -         5085   20   30 
pug       890115085  4  1 Bc  bc    kf    -         5095   80    0 
pug       890115120  4  4 r   c     f     -         5015   60    0 
pug       890115155  4  3 r   -     -     -         4955   40   70 
pug       890115161  4  2 Bk  bc    f     -         4985   60    0 
pug       890115204  4  1 Bc  k     b     -         4925   60   80 
pug       890115230  4  4 c   f     -     -         4945   20    0 
pug       890115269  4  3 f   -     -     -         4925    0    0 
pug       890115319  4  2 Bk  f     -     -         4925   20    0 
pug       890115339  4  1 Br  b     -     -         4905   60  100 
pug       890115353  4  4 f   -     -     -         4945    0    0 
pug       890115360  4  3 rc  b     b     b         4945  160  290 
pug       890115395  4  2 Bc  k     b     brrr      5075  360  365 6c Ah
pug       890115427  4  1 Bc  b     -     -         5080   40   80 
pug       890115454  4  4 f   -     -     -         5120    0    0 
pug       890115495  4  3 f   -     -     -         5120    0    0 
pug       890115533  4  2 Bk  b     b     bf        5120  120    0 
pug       890115568  3  1 Bc  k     b     -         5000   60   80 
pug       890115591  3  3 f   -     -     -         5020    0    0 
pug       890115605  3  2 Br  -     -     -         5020   40   60 
pug       890115615  3  1 Bc  b     b     -         5040   80  140 
pug       890115630  3  3 f   -     -     -         5100    0    0 
pug       890115640  3  2 Bc  rc    c     b         5100  180  360 Js Td
pug       890115674  3  1 Bc  b     bc    kf        5280  140    0 
pug       890115711  3  3 r   -     -     -         5140   40   70 
pug       890115719  3  2 Bk  b     b     -         5170   80  120 
pug       890115747  3  1 Bf  -     -     -         5210   10    0 
pug       890115754  3  3 r   b     b     k         5200  100  220 Js 2c
pug       890115789  3  2 Bc  f     -     -         5320   40    0 
pug       890115809  3  1 Bf  -     -     -         5280   10    0 
pug       890115819  3  3 r   b     -     -         5270   60  110 
pug       890115834  3  2 Bc  r     bc    f         5320  160    0 
pug       890115869  3  1 Bcc kf    -     -         5160   40    0 
pug       890115888  3  3 r   k     b     -         5120   80  140 
pug       890115910  3  2 Bf  -     -     -         5180   20    0 
pug       890115922  3  1 Br  b     b     kf        5160  100    0 
pug       890115953  3  3 r   k     b     -         5060   80  160 
pug       890115976  3  2 Bk  b     -     -         5140   40   70 
pug       890115989  3  1 Br  -     -     -         5170   40   60 
pug       890116000  3  3 f   -     -     -         5190    0    0 
pug       890116037  3  2 Br  b     -     -         5190   60  100 
pug       890116077  3  1 Bc  k     b     -         5230   60   80 
pug       890116101  3  3 r   f     -     -         5250   40    0 
pug       890116133  3  2 Bk  k     b     -         5210   60   80 
pug       890116161  2  1 BQ  -     -     -         5230   10    0 
pug       890271012 10  2 Br  b     -     -         5220   80  260 
pug       890271046 10  1 Bc  k     k     k         5400   20   40 Ah 8h
pug       890271104 10 10 f   -     -     -         5420    0    0 
pug       890271203 10  9 f   -     -     -         5420    0    0 
pug       890271251 10  8 f   -     -     -         5420    0    0 
pug       890271304  9  6 f   -     -     -         5420    0    0 
pug       890271337  9  5 c   c     c     f         5420  100    0 
pug       890271390  8  4 r   k     b     -         5320   80  210 
pug       890271432  8  3 r   kf    -     -         5450   40    0 
pug       890271477  8  2 Bc  bc    b     b         5410  160  290 
pug       890271515  8  1 Bc  bc    kf    -         5540   60    0 
pug       890271564  8  8 f   -     -     -         5480    0    0 
pug       890271597  7  6 f   -     -     -         5480    0    0 
pug       890271634  7  5 f   -     -     -         5480    0    0 
pug       890271668  8  4 QQ  Q     -     -         5480    0    0 
pug       890271764  7  3 f   -     -     -         5480    0    0 
pug       890271823  8  2 Bf  -     -     -         5480   20    0 
pug       890271858  8  1 BrKQ -     -     -         5460   60    0 
pug       890459894  3  2 Bc  c     rc    f         5400  180    0 
pug       890459934  4  1 Bc  k     b     -         5220   60  100 
pug       890459966  4  4 f   -     -     -         5260    0    0 
pug       890459981  4  3 f   -     -     -         5260    0    0 
pug       890459998  4  2 Bc  b     kf    -         5260   60    0 
pug       890460020  4  1 Bf  -     -     -         5200   10    0 
pug       890460039  4  4 f   -     -     -         5190    0    0 
pug       890460052  4  3 rc  r     b     b         5190  180  340 
pug       890460089  4  2 Bf  -     -     -         5350   20    0 
pug       890460101  4  1 Bcc b     -     -         5330   60  100 
pug       890460122  4  4 f   -     -     -         5370    0    0 
pug       890460144  4  3 rc  f     -     -         5370   60    0 
pug       890460167  4  2 Bk  k     b     -         5310   60   90 
pug       890460181  5  1 Br  -     -     -         5340   40   60 
pug       890460191  6  6 f   -     -     -         5360    0    0 
pug       890460236  6  5 f   -     -     -         5360    0    0 
pug       890460245  6  4 f   -     -     -         5360    0    0 
pug       890460298  6  3 r   b     b     b         5360  140  250 
pug       890460328  6  2 Bk  kf    -     -         5470   20    0 
pug       890460359  6  1 Br  -     -     -         5450   40   60 
pug       890460374  6  6 c   r     b     b         5470  160  390 Kc Js
pug       890460407  7  6 f   -     -     -         5700    0    0 
pug       890460463  7  5 f   -     -     -         5700    0    0 
pug       890460503  7  4 f   -     -     -         5700    0    0 
pug       890460544  7  3 f   -     -     -         5700    0    0 
pug       890460569  7  2 Bf  -     -     -         5700   20    0 
pug       890460640  7  1 Bc  bc    kc    kc        5680  160  380 7c Qh
pug       890460680  7  7 cc  c     c     c         5900  176  770 Kh Jc
pug       890460809  6  5 f   -     -     -         6494    0    0 
pug       890460825  6  4 f   -     -     -         6494    0    0 
pug       890460849  6  3 r   bf    -     -         6494   60    0 
pug       890460877  6  2 Bc  bc    cc    br        6434  280  720 Ah Js
pug       890460930  6  1 Brc kc    bc    kf        6874  200    0 
pug       890461004  6  6 r   b     -     -         6674   60  130 
pug       890461042  6  5 f   -     -     -         6744    0    0 
pug       890461055  7  5 f   -     -     -         6744    0    0 
pug       890461080  7  4 f   -     -     -         6744    0    0 
pug       890461108  7  3 cc  bc    kc    kf        6744  120    0 
pug       890461135  7  2 Bc  kf    -     -         6624   40    0 
pug       890461164  7  1 Bf  -     -     -         6584   10    0 
pug       890461182  7  7 f   -     -     -         6574    0    0 
pug       890461228  7  6 f   -     -     -         6574    0    0 
pug       890461268  7  5 rc  bc    brr   b         6574  340  710 Ad 4d
pug       890461308  7  4 f   -     -     -         6944    0    0 
pug       890461349  8  4 f   -     -     -         6944    0    0 
pug       890461399  8  3 cc  f     -     -         6944   40    0 
pug       890461439  8  2 Bk  bc    krr   bc        6904  300    0 Js 7h
pug       890461515  8  1 Bf  -     -     -         6604   10    0 
pug       890461549  8  8 c   c     r     b         6594  160  430 
pug       890461631  8  7 f   -     -     -         6864    0    0 
pug       890461645  8  6 f   -     -     -         6864    0    0 
pug       890461698  8  5 f   -     -     -         6864    0    0 
pug       890461738  8  4 f   -     -     -         6864    0    0 
pug       890461779  8  3 cc  bc    kf    -         6864   80    0 
pug       890461823  9  2 Bc  f     -     -         6784   40    0 
pug       890461860  9  1 Bcc bc    b     bc        6744  200    0 6s 5c
pug       890461902 10 10 f   -     -     -         6544    0    0 
pug       890461968  9  9 f   -     -     -         6544    0    0 
pug       890462074  8  7 f   -     -     -         6544    0    0 
pug       890462129  7  4 cc  b     b     b         6544  140    0 Ts Kd
pug       890462156  8  3 f   -     -     -         6404    0    0 
pug       890462175  8  2 Bc  c     r     b         6404  180  400 7d 4d
pug       890462216  8  1 Bc  bc    kc    kc        6624  140    0 4d Th
pug       890462293  7  7 r   -     -     -         6484   40   70 
pug       890462320  5  4 c   b     kc    kf        6514  100    0 
pug       890462362  4  2 r   b     -     -         6414   60  100 
pug       890462377  5  2 B   -     -     -         6454   20   30 
pug       890462381  5  1 Bcc bc    kf    -         6464   80    0 
pug       890462400  5  5 f   -     -     -         6384    0    0 
pug       890462411  5  4 f   -     -     -         6384    0    0 
pug       890462417  5  3 f   -     -     -         6384    0    0 
pug       890462423  5  2 Bc  f     -     -         6384   40    0 
pug       890462439  5  1 Bc  kf    -     -         6344   20    0 
pug       890462450  5  5 r   -     -     -         6324   40   70 
pug       890462457  6  5 f   -     -     -         6354    0    0 
pug       890462463  6  4 f   -     -     -         6354    0    0 
pug       890462485  6  3 cc  kc    kf    -         6354   60    0 
pug       890462507  6  2 Brc b     b     -         6294  140  340 
pug       890462540  7  1 Bc  kf    -     -         6494   20    0 
pug       890462575  7  7 rc  c     f     -         6474  100    0 
pug       890462596  7  6 f   -     -     -         6374    0    0 
pug       890462622  7  5 c   b     -     -         6374   40   80 
pug       890462644  7  4 f   -     -     -         6414    0    0 
pug       890462666  7  3 f   -     -     -         6414    0    0 
pug       890462699  6  2 Bk  kf    -     -         6414   20    0 
pug       890462716  7  1 Bf  -     -     -         6394   10    0 
pug       890462751  7  7 r   -     -     -         6384   40   70 
pug       890462761  7  6 r   -     -     -         6414   40   70 
pug       890462772  7  5 f   -     -     -         6444    0    0 
pug       890462846  7  4 f   -     -     -         6444    0    0 
pug       890462870  8  5 c   k     k     b         6444   60  150 Td Kc
pug       890462915  6  2 f   -     -     -         6534    0    0 
pug       890462960  6  2 Bc  b     b     b         6534  140  280 6h 6c
pug       890462999  7  1 Bc  kf    -     -         6674   20    0 
pug       890463060  8  8 f   -     -     -         6654    0    0 
pug       890463091  8  7 f   -     -     -         6654    0    0 
pug       890463148  8  6 f   -     -     -         6654    0    0 
pug       890463179  8  5 f   Q     -     -         6654    0    0 
pug       890463299  9  4 f   -     -     -         6654    0    0 
pug       890463326  9  3 f   -     -     -         6654    0    0 
pug       890463401  8  2 Bk  b     kc    k         6654   80    0 2s Qh
pug       890463435  8  1 Bc  k     kQQ   -         6574   20    0 
pug       890463877  7  5 f   -     -     -         6779    0    0 
pug       890463899  7  4 f   -     -     -         6779    0    0 
pug       890463931  7  3 f   -     -     -         6779    0    0 
pug       890463954  7  2 Bc  kf    -     -         6779   40    0 
pug       890463971  7  1 Bc  k     b     -         6739   60  140 
pug       890464001  7  7 f   -     -     -         6819    0    0 
pug       890464033  7  6 r   c     k     r         6819  160  480 Ad 6d
pug       890464093  7  5 f   -     -     -         7139    0    0 
pug       890464127  8  4 cc  bc    kf    -         7139   80    0 
pug       890464151  8  3 f   -     -     -         7059    0    0 
pug       890464188  8  2 Bk  b     -     -         7059   40   90 
pug       890464202  8  1 Bc  kf    -     -         7109   20    0 
pug       890464235  8  8 f   -     -     -         7089    0    0 
pug       890464254  8  7 f   -     -     -         7089    0    0 
pug       890464284  8  6 f   -     -     -         7089    0    0 
pug       890464296  8  5 f   -     -     -         7089    0    0 
pug       890464329  8  4 f   -     -     -         7089    0    0 
pug       890464350  8  3 f   -     -     -         7089    0    0 
pug       890464403  8  2 Bf  -     -     -         7089   20    0 
pug       890464456  8  1 Bc  k     k     kf        7069   20    0 
pug       890464497  8  8 c   k     b     br        7049  180  340 
pug       890464544  8  7 r   b     b     b         7209  140  260 
pug       890464580  8  6 c   f     -     -         7329   20    0 
pug       890464614  8  5 f   -     -     -         7309    0    0 
pug       890464659  8  4 f   -     -     -         7309    0    0 
pug       890464698  8  3 c   bc    f     -         7309   60    0 
pug       890464743  8  2 B   -     -     -         7249   20   30 
pug       890464759  7  1 Bf  -     -     -         7259   10    0 
pug       890464789  7  7 f   -     -     -         7249    0    0 
pug       890464827  7  6 f   -     Q     -         7249    0    0 
pug       890464988  7  7 c   c     k     r         7249  120  360 5h 4s
pug       890465041  7  6 r   -     -     -         7489   40   70 
pug       890465052  7  5 f   -     -     -         7519    0    0 
pug       890465077  7  4 f   -     -     -         7519    0    0 
pug       890465090  7  3 f   -     -     -         7519    0    0 
pug       890465111  7  2 Bc  b     kf    -         7519   60    0 
pug       890465153  7  1 Bc  k     b     -         7459   60  100 
pug       890465186  7  7 f   -     -     -         7499    0    0 
pug       890465199  7  6 r   r     b     c         7499  180    0 Qh Qd
pug       890465223  7  5 f   -     -     -         7319    0    0 
pug       890465258  7  4 f   -     -     -         7319    0    0 
pug       890465268  7  3 c   b     rr    b         7319  240  490 5d Ad
pug       890465316  7  2 Bk  b     -     -         7569   40   80 
pug       890465401  5  1 Bcc kf    -     -         7609   40    0 
pug       890465436  3  3 Q   Q     -     -         7569    0    0 
pug       890632950  9  5 f   -     -     -         7569    0    0 
pug       890633000  8  4 f   -     -     -         7569    0    0 
pug       890633043  8  3 fQ  -     -     -         7569    0    0 
pug       890633177  3  3 r   b     br    b         7569  220  225 Ah 5d
pug       890633250  3  3 f   -     -     -         7574    0    0 
pug       890633269  3  2 Bk  f     -     -         7574   20    0 
pug       890633278  3  1 BQ  -     -     -         7554   10    0 
