jade      944888360  5  3 r   b     -     -          305   30   65 
jade      944888375  5  2 Bf  -     -     -          340   10    0 
jade      944888407  5  1 Bc  b     -     -          330   20   40 
jade      944888418  5  5 r   f     -     -          350   20    0 
jade      944888455  6  4 f   -     -     -          330    0    0 
jade      944888492  6  3 f   -     -     -          330    0    0 
jade      944888522  6  2 Bcc kf    -     -          330   40    0 
jade      944888555  6  1 Br  bc    kf    -          290   50    0 
jade      944888585  7  7 rc  b     r     k          240   90    0 Jc 9c
jade      944888640  8  7 f   -     -     -          150    0    0 
jade      944888684  9  7 fQ  -     -     -          150    0    0 
