Slim      819614025  7  6  c    kc     f      -        -         1000   20    0 4h 3c 4c
Slim      819614194  6  3  c    c      c      f        -          980   50    0 8s 6c 4d 9c
Slim      819614350  6  6  c    kc     c     +b       +bcc        930  140    0 Jd 3h 2d Jh  3s 7h 5h
Slim      819614544  7  6  c   +b     +bc    +kc      +kc         790  100    0 Th Tc 6h 8s  Jh Qc 6c
Slim      819614698  8  7  c   +kc     c      c        cc         690  120    0 Jh As 4h 4c  9s Kh 9d
Slim      819614854  8  8  f    -      -      -        -          570    0    0 Qd
Slim      819615021  8  3  c    c      c      c        c          570   90  175 6h 2h 5c 4c  Ac 4d 7h
Slim      819615202  8  2  f    Q      -      -        -          655    0    0 6c
