jade      937359686  9  3 f   -     -     -         3413    0    0 
jade      937359753 10  2 Bk  f     -     -         3413   10    0 
jade      937359812 10  1 Bf  -     -     -         3403    5    0 
jade      937359859 10 10 f   -     -     -         3398    0    0 
jade      937359974  9  8 f   -     -     -         3398    0    0 
jade      937360065 10  8 cc  c     bc    kf        3398   70    0 
jade      937360138 10  7 fQ  -     -     -         3328    0    0 
