jade      936840569 10  3 f   -     -     -         3708    0    0 
jade      936840695 10  2 Bk  kf    -     -         3708   10    0 
jade      936840835 10  1 Bf  -     -     -         3698    5    0 
jade      936840986 10 10 f   -     -     -         3693    0    0 
jade      936841077 10  9 r   r     b     b         3693   90  270 
jade      936841202 10  8 f   -     -     -         3873    0    0 
jade      936841379  9  6 f   -     -     -         3873    0    0 
jade      936841422  9  4 f   -     -     -         3873    0    0 
jade      936841568 10  4 f   -     -     -         3873    0    0 
jade      936841681  9  3 fQ  -     -     -         3873    0    0 
jade      937959985 10  9 f   -     -     -         6698    0    0 
jade      937960053  8  7 f   -     -     -         6698    0    0 
jade      937960098  8  6 f   -     -     -         6698    0    0 
jade      937960169  8  5 f   -     -     -         6698    0    0 
jade      937960236 10  4 f   -     -     -         6698    0    0 
jade      937960332  9  3 f   -     -     -         6698    0    0 
jade      937960366 10  2 Bc  kf    -     -         6698   20    0 
jade      937960459  9  1 Bf  -     -     -         6678    5    0 
jade      937960488  9  9 f   -     -     -         6673    0    0 
jade      937960555 10  9 f   -     -     -         6673    0    0 
jade      937960627 10  8 f   -     -     -         6673    0    0 
jade      937960648 10  7 f   -     -     -         6673    0    0 
jade      937960667 10  6 c   b     br    kc        6673  100  255 Ac Th
jade      937960769 10  5 f   -     -     -         6828    0    0 
jade      937960815 10  4 c   f     -     -         6828   10    0 
jade      937960916 10  3 f   -     -     -         6818    0    0 
jade      937960963 10  2 Bk  kf    -     -         6818   10    0 
jade      937961037 10  1 Bf  -     -     -         6808    5    0 
jade      937961153 10 10 f   -     -     -         6803    0    0 
jade      937961260  9  8 f   -     -     -         6803    0    0 
jade      937961304  9  8 f   -     -     -         6803    0    0 
jade      937961363  9  7 f   -     -     -         6803    0    0 
jade      937961415  9  6 KQ  -     -     -         6803    0    0 
