jade      935254723 10  9 f   -     -     -         3993    0    0 
jade      935254757 10  8 f   -     -     -         3993    0    0 
jade      935254798  8  6 f   -     -     -         3993    0    0 
jade      935254828  8  5 f   -     -     -         3993    0    0 
jade      935254862  8  4 f   -     -     -         3993    0    0 
jade      935254942  9  3 f   -     -     -         3993    0    0 
jade      935255000  9  2 Bc  kf    -     -         3993   20    0 
jade      935255018  9  1 Bf  -     -     -         3973    5    0 
jade      935255113 10 10 f   -     -     -         3968    0    0 
jade      935255194 10  9 c   r     k     b         3968   60    0 5h 5s
jade      935255280  8  7 r   rr    brc   kc        3908  160  260 Kh Ks
jade      935255372  8  6 r   b     b     k         4008   50  125 Qd As
jade      935255414  7  4 f   -     -     -         4083    0    0 
jade      935255474  7  3 f   -     -     -         4083    0    0 
jade      935255546  7  2 Bk  kf    -     -         4083   10    0 
jade      935255570  7  1 Bc  kf    -     -         4073   10    0 
jade      935255615  7  7 f   -     Q     -         4063    0    0 
jade      935898461 10  6 f   -     -     -         3793    0    0 
jade      935898537 10  5 cc  k     c     k         3793   60    0 As Ts
jade      935898586 10  4 rc  kc    kf    -         3733   50    0 
jade      935898738 10  3 f   -     -     -         3683    0    0 
jade      935898811 10  2 Bc  kr    b     b         3683   90  340 Kh 2h
jade      935898893 10  1 Bc  kc    kf    -         3933   40    0 
jade      935898981 10 10 f   -     -     -         3893    0    0 
jade      935899091 10  9 f   -     -     -         3893    0    0 
jade      935899151 10  8 f   -     -     -         3893    0    0 
jade      935899240 10  7 f   -     -     -         3893    0    0 
jade      935899354 10  6 f   -     -     -         3893    0    0 
jade      935899472 10  5 f   -     -     -         3893    0    0 
jade      935899498 10  4 f   -     -     -         3893    0    0 
jade      935899559 10  3 r   b     kf    -         3893   30    0 
jade      935899602 10  2 Bf  -     -     -         3863   10    0 
jade      935899722 10  1 Bf  -     -     -         3853    5    0 
jade      935899766 10 10 rc  r     b     rc        3848  140    0 Ks Kh
jade      935899871 10  9 rr  c     f     -         3708   50    0 
jade      935899915 10  8 cc  k     k     f         3658   40    0 
jade      935900006 10  7 f   -     -     -         3618    0    0 
jade      935900081 10  6 f   -     -     -         3618    0    0 
jade      935900122 10  5 c   kf    -     -         3618   10    0 
jade      935900199 10  4 f   -     -     -         3608    0    0 
jade      935900263 10  3 f   -     -     -         3608    0    0 
jade      935900303 10  2 Bf  -     -     -         3608   10    0 
jade      935900416 10  1 Bf  -     -     -         3598    5    0 
jade      935900498 10 10 f   -     -     -         3593    0    0 
jade      935900582 10  9 f   -     -     -         3593    0    0 
jade      935900674 10  8 f   -     -     -         3593    0    0 
jade      935900767 10  7 f   -     -     -         3593    0    0 
jade      935900843 10  6 c   b     b     k         3593   40  110 Tc Ac
jade      935900958  8  3 f   -     -     -         3663    0    0 
jade      935901011 10  3 c   c     c     k         3663   40  240 Jh Qh
jade      935901086 10  2 Bf  -     -     -         3863   10    0 
jade      935901113 10  1 Bf  -     -     -         3853    5    0 
jade      935901183 10 10 f   -     -     -         3848    0    0 
jade      935901266 10  9 f   -     -     -         3848    0    0 
jade      935901328 10  8 f   -     -     -         3848    0    0 
jade      935901401 10  7 f   -     -     -         3848    0    0 
jade      935901456 10  3 Q   -     -     -         3848    0    0 
