jade      968273333  2  2 Bc  r     k     k         3028   80  160 5s Ac
jade      968273362  2  1 Bf  -     -     -         3108   10    0 
jade      968273367  2  2 B   -     -     -         3098   20   30 
jade      968273371  3  1 Br  kr    kr    k         3108  180  210 As 6s
jade      968273404  3  3 c   k     b     b         3138  100  220 8h 6h
jade      968273452  3  2 Br  k     f     -         3258   40    0 
jade      968273472  3  1 Bcc kr    k     kc        3218  120    0 Jh 7h
jade      968273495  3  3 f   -     -     -         3098    0    0 
jade      968273519  3  2 Bc  c     f     -         3098   60    0 
jade      968273538  4  1 Bc  krr   kc    kc        3038  180    0 Jh Tc
jade      968273579  4  4 f   -     -     -         2858    0    0 
jade      968273596  4  3 f   -     -     -         2858    0    0 
jade      968273600  4  2 Bk  kf    -     -         2858   20    0 
jade      968273622  4  1 Bf  -     -     -         2838   10    0 
jade      968273625  4  4 r   f     -     -         2828   40    0 
jade      968273640  4  3 f   -     -     -         2788    0    0 
jade      968273646  4  2 Bk  k     b     -         2788   60   90 
jade      968273663  4  1 Bf  -     -     -         2818   10    0 
jade      968273667  4  4 r   r     c     r         2808  200  410 Qh Tc
jade      968273695  4  3 c   f     -     -         3018   20    0 
jade      968273706  4  2 Bc  r     k     b         2998  120  200 
jade      968273731  4  1 Bc  kf    -     -         3078   20    0 
jade      968273753  5  5 r   r     f     -         3058   80    0 
jade      968273775  5  4 f   -     -     -         2978    0    0 
jade      968273796  5  3 f   -     -     -         2978    0    0 
jade      968273810  5  2 Br  b     bc    kf        2978  140    0 
jade      968273867  5  1 Bf  -     -     -         2838   10    0 
jade      968273872  5  5 r   k     k     k         2828   40    0 9h Ah
jade      968273894  5  4 c   r     k     k         2788   60   65 7d 6d
jade      968273920  5  3 f   -     -     -         2793    0    0 
jade      968273953  5  2 Bk  kf    -     -         2793   20    0 
jade      968273970  6  1 Bc  k     kc    kf        2773   80    0 
jade      968274025  6  6 c   f     -     -         2693   20    0 
jade      968274051  6  5 f   -     -     -         2673    0    0 
jade      968274096  6  4 c   b     b     -         2673   80  200 
jade      968274133  6  3 f   -     -     -         2793    0    0 
jade      968274153  6  2 Bk  kc    kr    b         2793  160  290 
jade      968274177  6  1 Bc  k     kf    -         2923   20    0 
jade      968274220  6  6 c   b     b     b         2903  120  140 9s 8c
jade      968274275  6  5 f   -     -     -         2923    0    0 
jade      968274317  7  5 f   -     -     -         2923    0    0 
jade      968274347  7  4 c   b     b     k         2923   80  200 Kh 6h
jade      968274385  8  4 cc  kr    k     kc        3043  120  360 Kc Jh
jade      968274445  8  3 c   k     k     k         3283   20    0 3s 3d
jade      968274486  8  2 Bk  kf    -     -         3263   20    0 
jade      968274508  8  1 Bf  -     -     -         3243   10    0 
jade      968274536  8  8 r   b     bc    f         3233  140    0 
jade      968274597  9  8 c   k     f     -         3093   20    0 
jade      968274656  8  7 f   -     -     -         3073    0    0 
jade      968274718  8  6 c   c     f     -         3073   40    0 
jade      968274767  8  5 fQ  -     -     -         3033    0    0 
jade      968289334  8  5 r   b     b     k         3033  100  270 9h 9s
jade      968289365  8  4 f   -     -     -         3203    0    0 
jade      968289406  8  3 cc  kc    br    k         3203  200  570 Kc 9c
jade      968289477  9  2 Bk  f     -     -         3573   20    0 
jade      968289506  9  1 Bc  kc    kf    -         3553   60    0 
jade      968289559  8  8 c   c     k     f         3493   60    0 
jade      968289599  8  7 f   -     -     -         3433    0    0 
jade      968289631  8  6 fQ  -     -     -         3433    0    0 
jade      968291032 10  3 f   -     -     -         3433    0    0 
jade      968291062 10  2 Bk  b     k     k         3433   40  120 Jh Kc
jade      968291119 10  1 Bc  k     kf    -         3513   20    0 
jade      968291198 10 10 f   -     Q     -         3493    0    0 
jade      968296979 10  6 f   -     -     -         3493    0    0 
jade      968297029 10  5 f   -     -     -         3493    0    0 
jade      968297087 10  4 f   -     -     -         3493    0    0 
jade      968297138 10  3 f   -     -     -         3493    0    0 
jade      968297228 10  2 Bk  kf    -     -         3493   20    0 
jade      968297304 10  1 Bf  -     -     -         3473   10    0 
jade      968297349 10 10 c   f     -     -         3463   40    0 
jade      968297418 10  9 f   -     -     -         3423    0    0 
jade      968297466 10  8 f   -     -     -         3423    0    0 
jade      968297524 10  7 f   -     -     -         3423    0    0 
jade      968297561 10  6 f   -     -     -         3423    0    0 
jade      968297588 10  5 c   k     kf    -         3423   20    0 
jade      968297660 10  4 f   -     -     -         3403    0    0 
jade      968297701 10  3 f   -     -     -         3403    0    0 
jade      968297769 10  2 Bk  kf    -     -         3403   20    0 
jade      968297813 10  1 Bf  -     -     -         3383   10    0 
jade      968297859 10 10 f   -     -     -         3373    0    0 
jade      968297903 10  9 f   -     -     -         3373    0    0 
jade      968297946 10  8 c   k     k     b         3373   60  140 
jade      968298013 10  7 cc  kc    kc    k         3453  100    0 Js 9h
jade      968298091 10  6 f   -     -     -         3353    0    0 
jade      968298152 10  5 c   b     b     b         3353  120  300 Ad 5d
jade      968298210 10  4 r   k     k     f         3533   40    0 
jade      968298272 10  3 f   -     -     -         3493    0    0 
jade      968298373  9  1 Bc  kr    kr    k         3493  160    0 Jd 9h
jade      968298436  9  1 Bf  -     -     -         3333   10    0 
jade      968298449  9  9 f   -     -     -         3323    0    0 
jade      968298478  9  8 f   -     -     -         3323    0    0 
jade      968298537  9  7 f   -     -     -         3323    0    0 
jade      968298585 10  7 f   -     -     -         3323    0    0 
jade      968298653 10  6 r   bc    kc    kf        3323  120    0 
jade      968298710 10  5 c   kc    b     bf        3203  120    0 
jade      968298836 10  4 f   -     -     -         3083    0    0 
jade      968298891  9  3 f   -     -     -         3083    0    0 
jade      968298929  9  2 Br  c     r     b         3083  200  620 
jade      968299003  9  1 Bf  -     Q     -         3503   10    0 
jade      968538493  9  5 f   -     -     -         3193    0    0 
jade      968538523  9  4 f   -     -     -         3193    0    0 
jade      968538563  9  3 c   b     b     kc        3193  120  270 Ac Jc
jade      968538598  9  2 Bk  kf    -     -         3343   20    0 
jade      968538638  9  1 Bf  -     -     -         3323   10    0 
jade      968538667  9  9 f   -     -     -         3313    0    0 
jade      968538677  9  8 cc  f     -     -         3313   40    0 
jade      968538705  9  7 f   -     -     -         3273    0    0 
jade      968538753  9  6 f   -     -     -         3273    0    0 
jade      968538781  9  5 f   -     Q     -         3273    0    0 
