TT        851368296  3  2  c   +k     +kc    +kc      +kc        1000   70   85 Jd 3h 5s Ad  7s 7h 8d
TT        851368394  4  4  c   +k     +k     +b       +b         1015   50   80 6h Ah Qd Ad  9s Ks 5s
TT        851368519  6  6  cc   kcc   +kc    +kc      +kf        1045   90    0 9h 5s Ah Qc
TT        851368674  6  5  cc   k      c      k        f          955   50    0 Qh 8c 2d 9c
TT        851368783  6  4  cc   c      br     c        c          905  150  240 4c 9d 6c Jd  3c 7s 8d
TT        851369038  7  1 +Bc   kQ     -      -        -          995   40    0 2d Tc
