jade      931317286  9  9 f   -     -     -         1000    0    0 
jade      931317329  9  7 f   -     -     -         1000    0    0 
jade      931317395  9  6 r   brc   kf    -         1000   60    0 
jade      931317445 10  5 f   -     -     -          940    0    0 
jade      931317537 10  4 fQ  -     -     -          940    0    0 
jade      931719461 10  4 f   -     -     -          975    0    0 
jade      931719523 10  3 c   br    b     b          975   80  210 
jade      931719590 10  2 Bf  -     -     -         1105   10    0 
jade      931719637 10  1 Bf  -     -     -         1095    5    0 
jade      931719754 10 10 f   -     -     -         1090    0    0 
jade      931719809 10  9 f   -     -     -         1090    0    0 
jade      931719891 10  8 f   -     -     -         1090    0    0 
jade      931719954 10  7 f   -     -     -         1090    0    0 
jade      931720036 10  6 f   -     -     -         1090    0    0 
jade      931720083 10  5 f   -     -     -         1090    0    0 
jade      931720178 10  4 f   -     -     -         1090    0    0 
jade      931720260 10  3 c   bc    kc    kf        1090   50    0 
jade      931720379 10  2 Bc  kf    -     -         1040   20    0 
jade      931720482 10  1 Bf  -     -     -         1020    5    0 
jade      931720541 10 10 c   rc    c     r         1015  120  475 8d Th
jade      931720688 10  9 f   -     -     -         1370    0    0 
jade      931720785 10  8 f   -     -     -         1370    0    0 
jade      931720835 10  7 cc  cc    c     f         1370   80    0 
jade      931720995 10  6 f   -     -     -         1290    0    0 
jade      931721052 10  5 f   -     -     -         1290    0    0 
jade      931721150  9  4 f   -     -     -         1290    0    0 
jade      931721185  9  3 f   -     -     -         1290    0    0 
jade      931721241  9  2 Br  b     b     b         1290   70  140 Ah Qd
jade      931721292  9  1 Bc  kf    -     -         1360   10    0 
jade      931721320  9  9 f   -     -     -         1350    0    0 
jade      931721356  9  8 f   -     -     -         1350    0    0 
jade      931721382  9  8 f   -     -     -         1350    0    0 
jade      931721395  8  6 r   b     b     b         1350   70  125 
jade      931721459  8  5 c   b     -     -         1405   20   35 
jade      931721500  8  4 c   c     c     f         1420   40    0 
jade      931721575  7  3 f   -     -     -         1380    0    0 
jade      931721588  7  2 B   -     -     -         1380   10   15 
jade      931721608  7  1 Bf  -     -     -         1385    5    0 
jade      931721640  7  7 r   r     b     b         1380   80    0 Qs As
jade      931721678  7  6 c   rr    b     c         1300  100    0 5s Js
jade      931721717  8  5 r   -     -     -         1200   20   35 
jade      931721738  8  4 f   -     -     -         1215    0    0 
jade      931721754  8  3 f   -     -     -         1215    0    0 
jade      931721766  8  2 Bc  kf    -     -         1215   20    0 
jade      931721785  8  1 Bc  kf    -     -         1195   30    0 
jade      931721818  8  8 r   c     c     k         1165   50    0 Kc 2c
jade      931721846  8  7 f   -     -     -         1115    0    0 
jade      931721879  8  6 f   -     -     -         1115    0    0 
jade      931721894  8  5 c   b     -     -         1115   20   35 
jade      931721911  8  4 f   -     -     -         1130    0    0 
jade      931721920  8  3 f   -     -     -         1130    0    0 
jade      931721932  8  2 B   -     -     -         1130   10   15 
jade      931721949 10  1 Bf  -     -     -         1135    5    0 
jade      931721965 10 10 rr  c     f     -         1130   50    0 
jade      931722030 10  9 r   rc    cc    c         1080  140    0 Kh Kd
jade      931722131 10  9 c   b     b     bc         940   80  190 Ac Jh
jade      931722211  9  7 r   k     f     -         1050   30    0 
jade      931722258  8  6 r   b     k     brc       1020  120    0 Qs Qh
jade      931722319  9  5 r   k     f     -          900   30    0 
jade      931722374 10  4 c   c     k     b          870   40  110 7c Ac
jade      931722419 10  3 f   -     -     -          940    0    0 
jade      931722513  9  1 Bk  b     k     kf         940   20    0 
jade      931722554 10  1 Bc  kf    -     -          920   10    0 
jade      931722609 10 10 f   -     -     -          910    0    0 
jade      931722669 10  9 f   -     -     -          910    0    0 
jade      931722730 10  8 f   -     -     -          910    0    0 
jade      931722759 10  7 f   -     -     -          910    0    0 
jade      931722789 10  6 f   -     Q     -          910    0    0 
jade      931726029  8  7 f   -     -     -          910    0    0 
jade      931726069  8  6 f   -     -     -          910    0    0 
jade      931726091  9  6 f   -     -     -          910    0    0 
jade      931726138  7  4 f   -     -     -          910    0    0 
jade      931726157  7  4 cc  rc    f     -          910   70    0 
jade      931726227  9  3 f   -     -     -          840    0    0 
jade      931726264  8  2 Bk  k     kc    k          840   30    0 8d Qc
jade      931726295  8  1 Bc  kf    -     -          810   10    0 
jade      931726318  8  8 f   -     -     -          800    0    0 
jade      931726353  9  7 c   c     r     c          800   90  370 Kh Ah
jade      931726419  9  7 f   -     -     -         1080    0    0 
jade      931726476 10  6 f   -     -     -         1080    0    0 
jade      931726516 10  5 f   -     -     -         1080    0    0 
jade      931726549 10  4 f   -     -     -         1080    0    0 
jade      931726580 10  3 f   -     -     -         1080    0    0 
jade      931726612 10  2 Bc  krc   kc    k         1080  100  465 As Th
jade      931726681  9  1 Bc  br    k     kc        1445   70    0 7d Jh
jade      931726725 10 10 f   -     -     -         1375    0    0 
jade      931726753 10  9 f   -     -     -         1375    0    0 
jade      931726786 10  8 f   -     -     -         1375    0    0 
jade      931726808 10  7 f   -     -     -         1375    0    0 
jade      931726842 10  6 f   -     -     -         1375    0    0 
jade      931726882 10  5 f   -     -     -         1375    0    0 
jade      931726909 10  4 f   -     -     -         1375    0    0 
jade      931726920 10  3 f   -     -     -         1375    0    0 
jade      931726949 10  2 Bk  kf    -     -         1375   10    0 
jade      931726971 10  1 Bf  -     -     -         1365    5    0 
jade      931727019 10 10 f   -     -     -         1360    0    0 
jade      931727053  9  9 f   -     -     -         1360    0    0 
jade      931727078  9  8 f   -     -     -         1360    0    0 
jade      931727101 10  7 c   kc    kc    k         1360   50    0 Jc Kc
jade      931727147  9  6 f   -     -     -         1310    0    0 
jade      931727188  8  4 cc  cc    kf    -         1310   40    0 
jade      931727233  9  3 f   -     -     -         1270    0    0 
jade      931727259  9  2 Bk  b     b     kc        1270   60   98 Ad Th
jade      931727306  8  1 Bc  k     b     kc        1308   50    0 Kc Td
jade      931727365  8  8 f   -     -     -         1258    0    0 
jade      931727427  8  7 c   c     f     -         1258   20    0 
jade      931727464  9  7 cc  b     b     b         1238   70  160 
jade      931727555 10  7 c   b     b     b         1328   60  115 
jade      931727584 10  6 f   -     -     -         1383    0    0 
jade      931727593 10  5 c   brc   rc    c         1383  130    0 As Qd
jade      931727643 10  4 cc  kc    b     b         1253   70  250 Qh 9h
jade      931727718  9  3 f   -     -     -         1433    0    0 
jade      931727778  9  2 Bk  k     kf    -         1433   10    0 
jade      931727815  9  1 Bf  -     -     -         1423    5    0 
jade      931727859  8  8 f   -     -     -         1418    0    0 
jade      931727894  9  8 c   b     b     -         1418   40   95 
jade      931727936  9  7 c   kc    kf    -         1473   20    0 
jade      931728011  8  5 f   -     -     -         1453    0    0 
jade      931728041  9  5 f   -     -     -         1453    0    0 
jade      931728072  8  3 f   -     -     -         1453    0    0 
jade      931728103  7  2 Bk  k     b     b         1453   50  105 
jade      931728157  7  1 Bf  -     -     -         1508    5    0 
jade      931728189  8  7 r   b     b     b         1503   70  165 Kh Ks
jade      931728222  8  6 f   -     -     -         1598    0    0 
jade      931728253  8  5 f   -     -     -         1598    0    0 
jade      931728283  8  4 f   -     -     -         1598    0    0 
jade      931728306  8  3 f   -     -     -         1598    0    0 
jade      931728324  8  2 Bk  kf    -     -         1598   10    0 
jade      931728361  8  1 Bf  -     -     -         1588    5    0 
jade      931728404  8  8 c   k     f     -         1583   10    0 
jade      931728436  8  7 f   -     -     -         1573    0    0 
jade      931728469  8  6 f   -     -     -         1573    0    0 
jade      931728513  8  5 r   b     c     r         1573   90  195 Ks Ac
jade      931728554  8  4 cc  kf    -     -         1678   20    0 
jade      931728596  8  3 f   -     -     -         1658    0    0 
jade      931728619  8  2 Bk  k     kf    -         1658   10    0 
jade      931728642  8  1 Bf  -     -     -         1648    5    0 
jade      931728655  8  8 r   b     b     -         1643   50  135 
jade      931728711  8  7 f   -     -     -         1728    0    0 
jade      931728727  8  6 f   -     -     -         1728    0    0 
jade      931728770  9  6 cc  k     f     -         1728   20    0 
jade      931728801 10  6 cc  f     -     -         1708   20    0 
jade      931728842 10  5 f   -     -     -         1688    0    0 
jade      931728906 10  4 f   -     -     -         1688    0    0 
jade      931728940 10  3 f   -     -     -         1688    0    0 
jade      931728978 10  2 Bf  -     -     -         1688   10    0 
jade      931729012 10  1 Bf  -     -     -         1678    5    0 
jade      931729080 10 10 f   -     -     -         1673    0    0 
jade      931729128 10  9 f   -     -     -         1673    0    0 
jade      931729174 10  8 f   -     -     -         1673    0    0 
jade      931729226 10  7 f   -     -     -         1673    0    0 
jade      931729318 10  6 c   k     c     c         1673   50  110 5h Ah
jade      931729372 10  5 f   -     -     -         1733    0    0 
jade      931729434 10  4 f   -     -     -         1733    0    0 
jade      931729461 10  3 f   -     -     -         1733    0    0 
jade      931729531 10  2 Br  k     k     k         1733   20   45 Ad Td
jade      931729566 10  1 Bc  kc    kf    -         1758   20    0 
jade      931729610 10 10 cc  f     -     -         1738   20    0 
jade      931729677 10  9 c   cc    rr    c         1718  150    0 Jc Ad
jade      931729755 10  8 f   -     -     -         1568    0    0 
jade      931729814 10  7 f   -     -     -         1568    0    0 
jade      931729848 10  6 f   -     -     -         1568    0    0 
jade      931729878 10  5 cc  krc   f     -         1568   60    0 
jade      931729950 10  4 f   -     -     -         1508    0    0 
jade      931729999 10  3 f   -     -     -         1508    0    0 
jade      931730020 10  2 Bk  kf    -     -         1508   10    0 
jade      931730077 10  1 Bf  -     -     -         1498    5    0 
jade      931730147 10 10 f   -     -     -         1493    0    0 
jade      931730225 10 10 f   -     -     -         1493    0    0 
jade      931730253 10  8 f   -     -     -         1493    0    0 
jade      931730326  9  7 c   c     b     b         1493   60  190 7s As
jade      931730411 10  6 r   b     b     b         1623   70  285 9d 9c
jade      931730505 10  5 f   -     -     -         1838    0    0 
jade      931730541 10  4 f   -     -     -         1838    0    0 
jade      931730586 10  3 f   -     -     -         1838    0    0 
jade      931730657 10  2 Bk  b     b     b         1838   60  155 
jade      931730689 10  1 Bf  -     -     -         1933    5    0 
jade      931730740 10 10 f   -     -     -         1928    0    0 
jade      931730804  9  8 f   -     -     -         1928    0    0 
jade      931730906  7  5 f   -     -     -         1928    0    0 
jade      931730972  8  5 f   -     -     -         1928    0    0 
jade      931731045  8  4 f   -     -     -         1928    0    0 
jade      931731118  9  3 f   -     -     -         1928    0    0 
jade      931731164  9  2 Bk  kc    kc    kc        1928   70    0 3c Ks
jade      931731222  9  1 Bf  -     -     -         1858    5    0 
jade      931731266 10 10 f   -     -     -         1853    0    0 
jade      931731321 10  9 f   -     -     -         1853    0    0 
jade      931731374 10  8 f   -     -     -         1853    0    0 
jade      931731417 10  7 r   b     -     -         1853   30   65 
jade      931731460 10  6 f   -     -     -         1888    0    0 
jade      931731510 10  5 f   -     -     -         1888    0    0 
jade      931731590 10  4 f   -     -     -         1888    0    0 
jade      931731642  9  3 fQ  -     -     -         1888    0    0 
jade      931738081  9  8 c   f     -     -         1888   20    0 
jade      931738163  9  7 f   -     -     -         1868    0    0 
jade      931738207 10  7 cc  cc    f     -         1868   50    0 
jade      931738280 10  6 f   -     -     -         1818    0    0 
jade      931738348 10  5 f   -     -     -         1818    0    0 
jade      931738427 10  4 f   -     -     -         1818    0    0 
jade      931738511 10  3 f   -     -     -         1818    0    0 
jade      931738602 10  2 Bk  kc    bc    kc        1818   80  240 Qh Kc
jade      931738656 10  1 Bf  -     -     -         1978    5    0 
jade      931738706 10 10 r   r     k     k         1973   40  150 Tc Th
jade      931738927 10  9 f   -     -     -         2083    0    0 
jade      931739057 10  8 f   -     -     -         2083    0    0 
jade      931739138 10  7 f   -     -     -         2083    0    0 
jade      931739248 10  6 f   -     -     -         2083    0    0 
jade      931739333 10  5 f   -     -     -         2083    0    0 
jade      931739408 10  4 f   -     -     -         2083    0    0 
jade      931739545  9  3 f   -     -     -         2083    0    0 
jade      931739652 10  2 Bc  krc   kc    kc        2083  100    0 Jh Jd
jade      931739767 10  1 Bf  -     -     -         1983    5    0 
jade      931739840 10 10 c   b     r     b         1978   90    0 Kc Th
jade      931739900 10  9 f   -     -     -         1888    0    0 
jade      931740011 10  8 c   f     -     -         1888   20    0 
jade      931740112 10  7 f   -     -     -         1868    0    0 
jade      931740222 10  6 f   -     -     -         1868    0    0 
jade      931740330 10  5 r   br    b     k         1868   70    0 Js Jd
jade      931740462 10  4 f   -     -     -         1798    0    0 
jade      931740556 10  3 f   -     -     -         1798    0    0 
jade      931740678 10  2 Bc  ccc   k     kf        1798   60    0 
jade      931740772 10  1 Bf  -     -     -         1738    5    0 
jade      931740856 10 10 f   -     -     -         1733    0    0 
jade      931740938 10  9 cc  rc    k     kc        1733   70    0 8s 6c
jade      931741109 10  8 f   -     -     -         1663    0    0 
jade      931741161 10  7 f   -     -     -         1663    0    0 
jade      931741316 10  6 f   -     -     -         1663    0    0 
jade      931741423 10  5 ccc kr    b     b         1663  100  375 Kc Td
jade      931741535 10  4 c   kf    -     -         1938   10    0 
jade      931741598 10  3 f   -     -     -         1928    0    0 
jade      931741730 10  2 Br  brc   kc    kc        1928  110  285 Ts Js
jade      931741802 10  1 Bf  -     -     -         2103    5    0 
jade      931741850 10 10 f   -     -     -         2098    0    0 
jade      931741968 10  9 f   -     -     -         2098    0    0 
jade      931742077 10  8 f   -     -     -         2098    0    0 
jade      931742248 10  7 c   c     f     -         2098   30    0 
jade      931742307 10  6 r   bc    k     kf        2068   40    0 
jade      931742401  9  4 f   -     -     -         2028    0    0 
jade      931742436  9  3 f   -     -     -         2028    0    0 
jade      931742469  9  2 Bc  ccc   kc    kf        2028   80    0 
jade      931742536 10  1 Bcr b     kc    kc        1948   80    0 8s Ts
jade      931742604 10 10 r   rc    ccc   f         1868  160    0 
jade      931742705 10  9 cc  c     rc    c         1708  160    0 Jd 7d
jade      931742821 10  8 f   -     -     -         1548    0    0 
jade      931742881 10  7 f   -     -     -         1548    0    0 
jade      931742988 10  6 f   -     -     -         1548    0    0 
jade      931743057 10  5 f   -     -     -         1548    0    0 
jade      931743174 10  4 f   -     -     -         1548    0    0 
jade      931743301 10  3 f   -     -     -         1548    0    0 
jade      931743354 10  2 Bk  k     kf    -         1548   10    0 
jade      931743434  9  1 Bf  -     -     -         1538    5    0 
jade      931743571  9  9 cc  cc    rc    c         1533  150  680 2c 6c
jade      931743664 10  9 f   -     -     -         2063    0    0 
jade      931743715 10  8 f   -     -     -         2063    0    0 
jade      931743747 10  7 f   -     -     -         2063    0    0 
jade      931743832 10  6 c   brc   k     kc        2063   70    0 Qh Ad
jade      931743948  7  2 Bf  -     -     -         1993   10    0 
jade      931744131 10  1 Bf  -     -     -         1983    5    0 
jade      931744189 10 10 f   -     -     -         1978    0    0 
jade      931744290 10  9 f   -     -     -         1978    0    0 
jade      931744356 10  8 cc  cc    cc    c         1978  180    0 Qh Js
jade      931744500  9  6 rc  k     k     f         1798   30    0 
jade      931744606  9  5 f   -     -     -         1768    0    0 
jade      931744651 10  4 f   -     -     -         1768    0    0 
jade      931744723 10  3 f   -     -     -         1768    0    0 
jade      931744793 10  2 Bcc kc    kc    bcc       1768  150  505 Ac 6d
jade      931744880 10  1 Bc  kf    -     -         2123   20    0 
jade      931744953 10 10 c   b     b     b         2103   60    0 9d 6h
jade      931745040 10  9 f   -     -     -         2043    0    0 
jade      931745085 10  8 f   -     -     -         2043    0    0 
jade      931745187 10  7 c   kc    kf    -         2043   30    0 
jade      931745298 10  6 f   -     -     -         2013    0    0 
jade      931745319 10  5 cc  f     -     -         2013   20    0 
jade      931745396  9  4 cc  kc    kc    kc        1993   70  205 Ad 2d
jade      931745467  9  3 f   -     -     -         2128    0    0 
jade      931745535 10  2 Bk  kf    -     -         2128   10    0 
jade      931745588 10  1 BKQ -     -     -         2118    5    0 
jade      931749117  9  4 f   -     -     -         1688    0    0 
jade      931749138  9  3 f   -     -     -         1688    0    0 
jade      931749205  9  2 Bk  k     kf    -         1688   10    0 
jade      931749264  8  1 Bf  -     -     -         1678    5    0 
jade      931749306  8  8 c   c     f     -         1673   30    0 
jade      931749433 10  7 f   -     -     -         1643    0    0 
jade      931749527 10  6 f   -     -     -         1643    0    0 
jade      931749575 10  5 r   r     b     b         1643   80  280 
jade      931749627 10  4 f   -     -     -         1843    0    0 
jade      931749699  9  3 f   -     -     -         1843    0    0 
jade      931749760  9  2 Bk  kc    k     k         1843   20    0 Js 4s
jade      931749813  9  1 Bc  k     k     kf        1823   20    0 
jade      931749865  9  9 f   -     -     -         1803    0    0 
jade      931749939  9  8 c   cc    f     -         1803   40    0 
jade      931750008  9  7 f   -     -     -         1763    0    0 
jade      931750054  9  6 f   -     -     -         1763    0    0 
jade      931750121 10  5 c   k     b     b         1763   60  220 Ac Qd
jade      931750181 10  4 f   -     -     -         1923    0    0 
jade      931750231 10  3 f   -     -     -         1923    0    0 
jade      931750272 10  2 Bk  k     kf    -         1923   10    0 
jade      931750336 10  1 Bf  -     -     -         1913    5    0 
jade      931750395 10 10 c   k     f     -         1908   20    0 
jade      931750456  9  8 f   -     -     -         1888    0    0 
jade      931750493 10  8 f   -     -     -         1888    0    0 
jade      931750544 10  7 f   -     -     -         1888    0    0 
jade      931750594  9  6 f   -     -     -         1888    0    0 
jade      931750615  9  5 rc  k     b     br        1888  110  330 9c 9s
jade      931750673  9  4 f   -     -     -         2108    0    0 
jade      931750748 10  3 f   -     -     -         2108    0    0 
jade      931750787 10  2 Bc  c     f     -         2108   40    0 
jade      931750857  9  1 Bf  -     -     -         2068    5    0 
jade      931750910  9  9 r   b     rc    f         2063   90    0 
jade      931750989  9  9 rr  rc    c     cf        1973  110    0 
jade      931751059  9  8 fQ  -     -     -         1863    0    0 
jade      932933853 10 10 f   -     -     -         2303    0    0 
jade      932933917 10  9 f   -     -     -         2303    0    0 
jade      932933963 10  8 f   -     -     -         2303    0    0 
jade      932933995 10  7 f   -     -     -         2303    0    0 
jade      932934032 10  6 f   -     -     -         2303    0    0 
jade      932934064 10  5 f   -     -     -         2303    0    0 
jade      932934110 10  4 f   -     -     -         2303    0    0 
jade      932934150 10  3 f   -     -     -         2303    0    0 
jade      932934190 10  2 Bk  kf    -     -         2303   10    0 
jade      932934215 10  1 Bf  -     -     -         2293    5    0 
jade      932934239 10 10 f   -     -     -         2288    0    0 
jade      932934279 10  9 f   -     -     -         2288    0    0 
jade      932934315 10  8 f   -     -     -         2288    0    0 
jade      932934347 10  7 c   k     k     f         2288   10    0 
jade      932934406 10  6 c   f     -     -         2278   10    0 
jade      932934512 10  5 f   -     -     -         2268    0    0 
jade      932934553 10  4 f   -     -     -         2268    0    0 
jade      932934620 10  3 f   -     -     -         2268    0    0 
jade      932934655 10  2 Bc  kc    kf    -         2268   50    0 
jade      932934701 10  1 Bf  -     -     -         2218    5    0 
jade      932934790 10 10 f   -     -     -         2213    0    0 
jade      932934875 10  9 c   k     k     k         2213   10    0 Ah 8h
jade      932934910 10  8 rr  r     b     b         2203  100  315 
jade      932934999 10  7 c   f     -     -         2418   20    0 
jade      932935036 10  6 f   -     -     -         2398    0    0 
jade      932935078 10  5 f   -     -     -         2398    0    0 
jade      932935115 10  4 f   -     -     -         2398    0    0 
jade      932935159 10  3 c   c     k     r         2398   60  120 
jade      932935197 10  2 Bk  k     kf    -         2458   10    0 
jade      932935241 10  1 Bf  -     -     -         2448    5    0 
jade      932935322 10 10 f   -     -     -         2443    0    0 
jade      932935406 10  9 c   c     b     b         2443   60  150 
jade      932935478 10  8 f   -     -     -         2533    0    0 
jade      932935524 10  7 f   -     -     -         2533    0    0 
jade      932935580 10  6 f   -     -     -         2533    0    0 
jade      932935667 10  5 f   -     -     -         2533    0    0 
jade      932935783 10  4 cc  kf    -     -         2533   20    0 
jade      932935836  9  3 c   b     bc    kc        2513   80    0 Ah 5h
jade      932935914 10  2 Bc  kf    -     -         2433   20    0 
jade      932935942 10  1 Bc  kc    k     kf        2413   20    0 
jade      932936022 10 10 f   -     -     -         2393    0    0 
jade      932936100  9  8 r   r     b     b         2393   80  230 As Ks
jade      932936189 10  8 f   -     -     -         2543    0    0 
jade      932936314 10  7 f   -     -     -         2543    0    0 
jade      932936397 10  6 f   -     -     -         2543    0    0 
jade      932936450 10  5 f   -     -     -         2543    0    0 
jade      932936562  9  4 f   -     -     -         2543    0    0 
jade      932936617 10  3 cc  k     k     k         2543   20    0 Ks Td
jade      932936682  9  2 Bk  b     b     b         2523   60  160 Kh Kc
jade      932936730  9  1 Bc  kf    -     -         2623   10    0 
jade      932936773  8  8 f   -     -     -         2613    0    0 
jade      932936794  7  6 f   -     -     -         2613    0    0 
jade      932936837  7  5 f   -     -     -         2613    0    0 
jade      932936880  7  4 f   -     -     -         2613    0    0 
jade      932936918  8  3 cc  kc    kf    -         2613   30    0 
jade      932936982  8  2 Bk  kf    -     -         2583   10    0 
jade      932937013  8  1 Bc  b     -     -         2573   20   40 
jade      932937054  8  8 f   -     -     -         2593    0    0 
jade      932937074  8  7 f   -     -     -         2593    0    0 
jade      932937129  6  4 f   -     -     -         2593    0    0 
jade      932937155  6  4 f   -     -     -         2593    0    0 
jade      932937179  6  3 f   -     -     -         2593    0    0 
jade      932937207  6  2 Bk  k     b     -         2593   30   45 
jade      932937229  6  1 Bc  b     b     -         2608   40   70 
jade      932937251  6  6 c   r     -     -         2638   40   95 
jade      932937273  6  5 c   k     k     k         2693   10    0 6c Qc
jade      932937302  6  4 c   k     b     -         2683   30   60 
jade      932937335  5  3 f   -     -     -         2713    0    0 
jade      932937348  4  2 Bk  b     -     -         2713   20   35 
jade      932937362  4  1 Bc  kc    kc    b         2728   70  160 5h 6d
jade      932937392  4  4 c   k     b     -         2818   30   50 
jade      932937410  4  3 r   b     b     k         2838   50  120 9d Kc
jade      932937435  5  2 B   -     -     -         2908   10   15 
jade      932937443  6  1 Bc  kr    -     -         2913   40   90 
jade      932937460  6  6 f   -     -     -         2963    0    0 
jade      932937469  6  5 f   -     -     -         2963    0    0 
jade      932937487  7  5 f   -     -     -         2963    0    0 
jade      932937497  7  4 f   -     -     -         2963    0    0 
jade      932937509  7  3 f   -     -     -         2963    0    0 
jade      932937520  7  2 B   -     -     -         2963   10   15 
jade      932937526  7  1 Bf  -     -     -         2968    5    0 
jade      932937565  7  7 f   -     -     -         2963    0    0 
jade      932937578  7  6 rr  b     b     r         2963  110  115 Qc Qh
jade      932937613  8  6 cc  r     bc    c         2968  100  240 Th 7h
jade      932937653  9  6 c   c     f     -         3108   20    0 
jade      932937685  9  5 f   -     -     -         3088    0    0 
jade      932937705  9  4 f   -     -     -         3088    0    0 
jade      932937746  9  3 f   -     -     -         3088    0    0 
jade      932937807  9  2 Bk  b     b     -         3088   40   60 
jade      932937842  9  1 Bc  kf    -     -         3108   30    0 
jade      932937869  9  9 f   -     -     -         3078    0    0 
jade      932937893  9  8 f   -     -     -         3078    0    0 
jade      932937929  9  7 c   rc    rc    c         3078  120    0 7s 6s
jade      932937974  9  6 c   f     -     -         2958   10    0 
jade      932938001  9  5 r   b     b     b         2948   70  180 
jade      932938035  9  4 c   b     -     -         3058   20   50 
jade      932938055  9  3 f   -     -     -         3088    0    0 
jade      932938084  9  2 Bk  bc    kf    -         3088   30    0 
jade      932938125  9  1 Bc  kc    kc    kf        3058   40    0 
jade      932938174  9  9 f   -     -     -         3018    0    0 
jade      932938213  9  8 cr  b     b     b         3018   80  200 Qs Ad
jade      932938250  8  6 f   -     -     -         3138    0    0 
jade      932938278  8  5 cc  kf    -     -         3138   20    0 
jade      932938313  8  4 c   k     k     k         3118   10    0 Kc Ts
jade      932938350  8  3 f   -     -     -         3108    0    0 
jade      932938369  9  2 Bc  kr    b     b         3108   80  145 
jade      932938407  9  1 Bf  -     -     -         3173    5    0 
jade      932938439  9  9 f   -     -     -         3168    0    0 
jade      932938464 10  9 f   -     -     -         3168    0    0 
jade      932938517 10  8 f   -     -     -         3168    0    0 
jade      932938568  9  7 f   -     -     -         3168    0    0 
jade      932938608 10  6 f   -     -     -         3168    0    0 
jade      932938641 10  5 f   -     -     -         3168    0    0 
jade      932938676  9  4 f   -     -     -         3168    0    0 
jade      932938704 10  3 cc  kc    kf    -         3168   40    0 
jade      932938752 10  2 Bc  br    bc    b         3128  130  560 Ks Kd
jade      932938830  9  1 Bf  -     -     -         3558    5    0 
jade      932938883 10  9 f   -     -     -         3553    0    0 
jade      932938930 10  8 f   -     -     -         3553    0    0 
jade      932938983  9  7 f   -     -     -         3553    0    0 
jade      932939007 10  6 r   r     b     -         3553   60  170 
jade      932939043 10  5 f   -     -     -         3663    0    0 
jade      932939054  9  4 f   -     -     -         3663    0    0 
jade      932939105 10  3 f   -     -     -         3663    0    0 
jade      932939140 10  2 Bc  kc    kc    kf        3663   50    0 
jade      932939188  9  1 Bc  kc    kc    br        3613  110  300 Jh 7h
jade      932939252 10  9 rc  c     cc    k         3803  100    0 Qh Qs
jade      932939325 10  8 f   -     -     -         3703    0    0 
jade      932939377  9  7 f   -     -     -         3703    0    0 
jade      932939404 10  6 f   -     -     -         3703    0    0 
jade      932939424 10  5 f   -     -     -         3703    0    0 
jade      932939495  9  4 f   -     -     -         3703    0    0 
jade      932939537  9  3 f   -     -     -         3703    0    0 
jade      932939565  9  2 Bcc kc    kc    kf        3703   80    0 
jade      932939615  9  1 Bc  bcc   kf    -         3623   70    0 
jade      932939661  9  9 c   r     b     bc        3553  100  112 7d As
jade      932939695  9  8 f   -     -     -         3565    0    0 
jade      932939753  9  7 f   -     -     -         3565    0    0 
jade      932939789  9  6 f   -     -     -         3565    0    0 
jade      932939833  8  4 f   -     -     -         3565    0    0 
jade      932939876  8  3 f   -     -     -         3565    0    0 
jade      932939905  8  2 Br  br    br    b         3565  150  183 Ac Kc
jade      932939938  8  1 Bc  kc    kf    -         3598   40    0 
jade      932939967  8  8 c   f     -     -         3558   20    0 
jade      932940005  8  7 f   -     -     -         3538    0    0 
jade      932940040  8  6 c   f     -     -         3538   20    0 
jade      932940073  8  5 f   -     -     -         3518    0    0 
jade      932940087  8  4 cc  f     -     -         3518   20    0 
jade      932940123  8  3 f   -     -     -         3498    0    0 
jade      932940153  8  2 Bc  kf    Q     -         3498   20    0 
jade      932941433  8  3 f   Q     -     -         3478    0    0 
