jade      972004661  9  9 rc  c     c     f         1076   80    0 
jade      972004708  8  7 f   -     -     -          996    0    0 
jade      972004749  8  7 f   -     -     -          936    0    0 
jade      972004763  8  6 f   -     -     -          936    0    0 
jade      972004825  8  5 f   -     -     -         1026    0    0 
jade      972004858  8  4 f   -     -     -         1026    0    0 
jade      972004927  9  3 r   b     -     -          856   30   95 
jade      972004991  8  2 Bk  b     -     -          781   20   50 
jade      972005045  9  1 Bcc kf    -     -          906   40    0 
jade      972005117  9  9 f   -     -     -          816    0    0 
jade      972005154  9  8 KQ  -     -     -          816    0    0 
jade      972079164  5  3 r   -     -     -          796   20   55 
jade      972079179  4  2 Bk  b     -     -          831   20   35 
jade      972079196  4  1 Bf  -     -     -          846    5    0 
jade      972079199  4  4 f   -     -     -          841    0    0 
jade      972079207  4  3 rr  k     k     k          841   40    0 8s As
jade      972079233  4  2 B   -     -     -          801   10   15 
jade      972079247  4  1 Brc brc   b     b          806  120    0 Kc 7c
jade      972079280  4  4 r   b     -     -          686   30   55 
jade      972079294  4  2 Br  r     r     brc        711  160    0 Jd Jc
jade      972079341  5  1 Br  brc   kf    -          551   60    0 
jade      972079384  5  5 f   -     -     -          491    0    0 
jade      972079404  5  4 r   brc   rr    rr         491  230    0 Qc Ac
jade      972079453  5  3 r   kf    -     -          261   20    0 
jade      972079505  7  4 rc  f     -     -          241   40    0 
jade      972079599  8  4 rc  r     b     k          201   80    0 As 7s
jade      972079657  8  4 c   kc    k     k          121   20   85 2s As
jade      972079703  7  4 f   -     -     -          186    0    0 
jade      972079739  6  2 Bc  kr    kr    b          186  100  205 2s Ks
jade      972079770  8  1 Bf  -     -     -          291    5    0 
jade      972079835  9  9 r   r     r     f          286   80    0 
jade      972079905  9  8 rc  k     f     -          206   40    0 
jade      972079936  9  7 f   -     -     -          166    0    0 
jade      972079971  9  6 f   -     -     -          166    0    0 
jade      972080048  9  5 f   -     -     -          166    0    0 
jade      972080101  9  4 r   kf    -     -          166   20    0 
jade      972080126  9  3 f   -     -     -          146    0    0 
jade      972080169 10  3 f   -     -     -          146    0    0 
jade      972080208  9  2 Bc  kc    k     c          146   60    0 Ad 2s
jade      972080248  9  1 Bf  -     -     -           86    5    0 
jade      972080303  9  9 rc  f     -     -           81   40    0 
jade      972080381  9  8 r   rcA   -     -           41   41    0 7c 5c
jade      972080514 10  6 KQ  -     -     -         1000    0    0 
jade      972088423 10  5 f   -     -     -         1000    0    0 
jade      972088448 10  4 f   -     -     -         1000    0    0 
jade      972088506 10  3 f   -     -     -         1000    0    0 
jade      972088560 10  2 Bk  k     f     -         1000   10    0 
jade      972088600 10  1 Bf  -     -     -          990    5    0 
jade      972088660 10 10 f   -     -     -          985    0    0 
jade      972088731 10  9 f   -     -     -          985    0    0 
jade      972088778 10  8 cc  rc    rr    c          985  180    0 Qs 6s
jade      972088916 10  7 rc  rr    c     c          805  120  415 7s 7d
jade      972088992 10  6 f   -     -     -         1100    0    0 
jade      972089073 10  5 f   -     -     -         1100    0    0 
jade      972089151 10  4 rr  brc   brc   bc        1100  200    0 Js Ks
jade      972089294 10  3 f   -     -     -          900    0    0 
jade      972089338 10  2 Bf  Q     -     -          900   10    0 
jade      972191337  6  6 f   -     -     -          610    0    0 
jade      972191377  7  5 rr  kr    kr    b          610  130  405 
jade      972191481  7  4 f   -     -     -          885    0    0 
jade      972191528  6  3 f   -     -     -          885    0    0 
jade      972191571  6  2 Br  b     brc   b          885  130  310 9d Jd
jade      972191645  6  1 Br  br    br    b         1065  130  260 9c Qc
jade      972191694  6  6 f   -     -     -         1195    0    0 
jade      972191737  6  5 r   b     -     -         1195   30   65 
jade      972191757  6  4 c   b     b     k         1230   40    0 Qh Qd
jade      972191802  7  3 f   -     -     -         1190    0    0 
jade      972191837  7  2 Bc  kf    -     -         1190   20    0 
jade      972191935  7  1 Bf  -     -     -         1170    5    0 
jade      972192027  7  7 f   -     -     -         1165    0    0 
jade      972192082  7  6 r   b     -     -         1165   30   65 
jade      972192113  7  5 f   -     -     -         1200    0    0 
jade      972192144  8  4 f   -     -     -         1200    0    0 
jade      972192182  8  3 f   -     -     -         1200    0    0 
jade      972192204  8  2 Bk  b     b     k         1200   40  130 2c Ks
jade      972192246  8  1 Br  br    b     b         1290  100  330 
jade      972192305  8  8 f   -     -     -         1520    0    0 
jade      972192330  8  7 f   -     -     -         1520    0    0 
jade      972192375  8  6 c   rc    c     c         1520   90    0 Qc Tc
jade      972192433  8  5 r   b     b     bf        1430   70    0 
jade      972192484  7  3 f   -     -     -         1360    0    0 
jade      972192519  8  3 f   -     -     -         1360    0    0 
jade      972192580 10  2 Bc  kr    b     b         1360   90  330 Kd As
jade      972192631  9  1 Bc  b     bc    kf        1600   70    0 
jade      972192702  9  9 f   -     -     -         1530    0    0 
jade      972192765 10  9 f   -     -     -         1530    0    0 
jade      972192838  9  7 rr  c     c     kf        1530   70    0 
jade      972192898  9  6 cc  f     -     -         1460   20    0 
jade      972192964  9  5 f   -     -     -         1440    0    0 
jade      972193009  9  4 f   -     -     -         1440    0    0 
jade      972193057  9  3 rr  b     b     b         1440   90  385 Kc Kd
jade      972193120  9  2 Bk  kf    -     -         1735   10    0 
jade      972193223  8  1 Bc  b     b     k         1725   40    0 Ks Qc
jade      972193296  8  8 f   -     -     -         1685    0    0 
jade      972193361  7  7 r   f     -     -         1685   30    0 
jade      972193392  7  6 f   -     -     -         1655    0    0 
jade      972193426  7  5 f   -     -     -         1655    0    0 
jade      972193516  7  4 f   -     -     -         1655    0    0 
jade      972193578  7  3 r   b     k     kf        1655   30    0 
jade      972193652  7  2 Bf  -     -     -         1625   10    0 
jade      972193677  8  1 Bf  -     -     -         1615    5    0 
jade      972193756  9  9 f   -     -     -         1610    0    0 
jade      972193828  9  8 f   -     -     -         1610    0    0 
jade      972193887 10  8 f   -     -     -         1610    0    0 
jade      972193963 10  7 f   -     -     -         1610    0    0 
jade      972194025  9  6 r   br    b     kc        1610  100  405 Jd Js
jade      972194094  9  5 f   -     -     -         1915    0    0 
jade      972194194  9  4 f   -     -     -         1915    0    0 
jade      972194267 10  3 f   -     -     -         1915    0    0 
jade      972194318 10  2 Bf  -     -     -         1915   10    0 
jade      972194360 10  1 Bf  -     -     -         1905    5    0 
jade      972194414 10 10 f   -     -     -         1900    0    0 
jade      972194475 10  9 f   -     -     -         1900    0    0 
jade      972194494 10  8 f   -     -     -         1900    0    0 
jade      972194543 10  7 c   f     -     -         1900   10    0 
jade      972194596 10  6 f   -     -     -         1890    0    0 
jade      972194645 10  5 f   -     -     -         1890    0    0 
jade      972194750 10  4 r   rc    kf    -         1890   60    0 
jade      972194798 10  3 f   -     -     -         1830    0    0 
jade      972194868 10  2 Bc  kf    -     -         1830   20    0 
jade      972194941 10  1 Bf  -     -     -         1810    5    0 
jade      972194992 10 10 f   -     -     -         1805    0    0 
jade      972195042 10  9 c   b     b     b         1805   70  270 Jh Qs
jade      972195096 10  8 c   f     -     -         2005   20    0 
jade      972195144 10  7 f   -     -     -         1985    0    0 
jade      972195182 10  6 c   c     c     c         1985   80    0 Js Th
jade      972195239 10  5 f   -     -     -         1905    0    0 
jade      972195280 10  4 f   -     -     -         1905    0    0 
jade      972195344 10  3 c   r     b     k         1905   50  105 Kc Jh
jade      972195384 10  2 Bk  kf    -     -         1960   10    0 
jade      972195459 10  1 Bc  kf    -     -         1950   10    0 
jade      972195511 10 10 f   -     -     -         1940    0    0 
jade      972195574 10  9 f   -     -     -         1940    0    0 
jade      972195607 10  8 f   -     -     -         1940    0    0 
jade      972195647 10  7 f   -     -     -         1940    0    0 
jade      972195683 10  6 f   -     -     -         1940    0    0 
jade      972195700 10  5 f   -     -     -         1940    0    0 
jade      972195765 10  4 f   -     -     -         1940    0    0 
jade      972195852 10  4 fQ  -     -     -         1940    0    0 
jade      972242390  2  1 B   -     -     -         1940   10   10 
jade      972242395  2  1 Bf  -     -     -         1940    5    0 
jade      972242398  2  2 B   -     -     -         1935   10   15 
jade      972242401  2  1 Br  bf    -     -         1940   30    0 
jade      972242412  2  2 Bc  k     b     -         1910   40   60 
jade      972242430  2  1 Brr kf    -     -         1930   40    0 
jade      972242441  2  2 B   -     -     -         1890   10   15 
jade      972242444  2  1 Bf  -     -     -         1895    5    0 
jade      972242447  2  2 Bf  -     -     -         1890   10    0 
jade      972242451  2  1 Bc  k     krr   brc       1880  170    0 5c 5s
jade      972242483  2  2 Brc rr    r     k         1710  120    0 Kc 3c
jade      972242513  2  1 Br  -     -     -         1590   20   30 
jade      972242523  2  2 B   -     -     -         1600   10   15 
jade      972242526  2  1 Br  br    b     b         1605   90  180 6c 6h
jade      972242541  2  2 Brc b     b     r         1695  110  220 Ks Kc
jade      972242572  2  1 Brr brc   brc   b         1805  180  360 Tc Td
jade      972242598  2  2 Bk  k     k     k         1985   10    0 5c 3s
jade      972242617  2  1 Bf  -     -     -         1975    5    0 
jade      972242622  2  2 Bc  k     k     k         1970   20    0 5h 6h
jade      972242639  2  1 Bf  -     -     -         1950    5    0 
jade      972242644  2  2 Bf  -     -     -         1945   10    0 
jade      972242649  2  1 Bf  -     -     -         1935    5    0 
jade      972242651  2  2 Bf  -     -     -         1930   10    0 
jade      972242653  2  1 Bf  -     -     -         1920    5    0 
jade      972242656  2  2 B   -     -     -         1915   10   15 
jade      972242660  2  1 Bf  -     -     -         1920    5    0 
jade      972242663  2  2 Bf  -     -     -         1915   10    0 
jade      972242666  2  1 Bf  -     -     -         1905    5    0 
jade      972242668  2  2 Brc k     k     k         1900   40   80 8c Jc
jade      972242691  2  1 Br  b     kf    -         1940   30    0 
jade      972242708  2  2 B   -     -     -         1910   10   15 
jade      972242710  2  1 Bc  br    brc   brc       1915  200  400 2d 6h
jade      972242738  2  2 Bk  k     b     k         2115   30    0 8c 7c
jade      972242768  4  1 Bcr kQ    -     -         2085   30    0 
