jade      936841792 10  6 f   -     -     -         3873    0    0 
jade      936841850 10  5 f   -     -     -         3873    0    0 
jade      936841900 10  4 f   -     -     -         3873    0    0 
jade      936841953 10  3 f   -     -     -         3873    0    0 
jade      936841996 10  2 Bk  br    k     k         3873   80    0 2s 4h
jade      936842041 10  1 Bf  -     -     -         3793   10    0 
jade      936842073 10 10 f   -     -     -         3783    0    0 
jade      936842105 10  9 f   -     -     -         3783    0    0 
jade      936842118 10  8 f   -     -     -         3783    0    0 
jade      936842173 10  7 f   -     -     -         3783    0    0 
jade      936842240 10  6 f   -     -     -         3783    0    0 
jade      936842284 10  5 f   -     -     -         3783    0    0 
jade      936842305 10  4 c   b     b     c         3783  120    0 Qc Kc
jade      936842386 10  3 c   cc    brc   kc        3663  260    0 Qh 9h
jade      936842477 10  2 Bk  f     -     -         3403   20    0 
jade      936842518 10  1 Bf  -     -     -         3383   10    0 
jade      936842542 10 10 f   -     -     -         3373    0    0 
jade      936842594 10  9 c   c     k     b         3373  100  250 
jade      936842687 10  8 r   f     -     -         3523   40    0 
jade      936842761 10  7 f   -     -     -         3483    0    0 
jade      936842807  9  6 f   -     -     -         3483    0    0 
jade      936842906 10  5 f   -     -     -         3483    0    0 
jade      936842954 10  4 c   kf    -     -         3483   20    0 
jade      936843012 10  3 f   -     -     -         3463    0    0 
jade      936843067 10  2 Bk  k     kf    -         3463   20    0 
jade      936843141 10  1 Bf  -     -     -         3443   10    0 
jade      936843195 10 10 f   -     -     -         3433    0    0 
jade      936843286 10  9 c   f     -     -         3433   20    0 
jade      936843316 10  8 f   -     -     -         3413    0    0 
jade      936843390 10  7 f   -     -     -         3413    0    0 
jade      936843446 10  6 rc  f     -     -         3413   80    0 
jade      936843508 10  5 f   -     Q     -         3333    0    0 
jade      937160814  8  3 c   k     k     kf        3333   20    0 
jade      937160856  7  2 Bk  k     kf    -         3313   20    0 
jade      937160883  7  1 Bf  -     -     -         3293   10    0 
jade      937160909  7  7 f   -     -     -         3283    0    0 
jade      937160937  6  5 cc  c     c     c         3283  160  500 Qs Ah
jade      937160984  7  4 f   -     -     -         3623    0    0 
jade      937161014  7  3 f   -     -     -         3623    0    0 
jade      937161040  7  2 Bc  f     -     -         3623   40    0 
jade      937161054  7  1 Bf  -     -     -         3583   10    0 
jade      937161094  7  7 f   -     -     -         3573    0    0 
jade      937161116  7  6 c   c     bc    kc        3573  160    0 Ts Qd
jade      937161193  7  5 f   -     -     -         3413    0    0 
jade      937161217  7  4 f   Q     -     -         3413    0    0 
jade      937447065  8  6 f   -     -     -         3328    0    0 
jade      937447080  8  5 f   -     -     -         3328    0    0 
jade      937447130  8  4 r   r     b     b         3328  160  590 5h 5c
jade      937447195  8  2 B   -     -     -         3758   20   30 
jade      937447216  8  1 Bc  k     k     k         3768   20    0 Ad 3d
jade      937447240  8  8 c   b     b     -         3748   80  180 
jade      937447285  8  7 f   -     -     -         3848    0    0 
jade      937447305  8  6 f   -     -     -         3848    0    0 
jade      937447373  8  5 cc  k     r     br        3848  240  530 Ts Js
jade      937447451  7  4 f   -     -     -         4138    0    0 
jade      937447463  7  3 rc  bc    kc    k         4138  140    0 Jh Jc
jade      937447505  7  2 Bk  k     k     k         3998   20   40 2d 4s
jade      937447544  7  1 Bf  -     -     -         4018   10    0 
jade      937447562  7  7 f   -     -     -         4008    0    0 
jade      937447587  7  6 f   -     -     -         4008    0    0 
jade      937447629  7  5 c   k     f     -         4008   20    0 
jade      937447674  8  5 f   -     -     -         3988    0    0 
jade      937447694  8  4 c   k     kf    -         3988   20    0 
jade      937447729  8  3 f   -     -     -         3968    0    0 
jade      937447766  8  2 Bf  -     -     -         3968   20    0 
jade      937447812  8  1 Bc  k     k     k         3948   20    0 Jd Qc
jade      937447841  9  8 f   -     -     -         3928    0    0 
jade      937447864  9  7 f   -     -     -         3928    0    0 
jade      937447891  9  6 c   f     -     -         3928   20    0 
jade      937447944  9  5 f   -     -     -         3908    0    0 
jade      937447978  9  4 f   -     -     -         3908    0    0 
jade      937447989  9  3 f   -     -     -         3908    0    0 
jade      937448019  9  2 Bf  -     -     -         3908   20    0 
jade      937448081  8  1 Bf  -     -     -         3888   10    0 
jade      937448123  8  8 c   k     c     f         3878   60    0 
jade      937448175  8  7 f   -     -     -         3818    0    0 
jade      937448212  8  6 f   -     -     -         3818    0    0 
jade      937448270  8  5 f   -     -     -         3818    0    0 
jade      937448304  8  4 f   -     -     -         3818    0    0 
jade      937448334  8  3 c   c     rr    b         3818  240  530 9s 9d
jade      937448380  8  2 Bk  kf    -     -         4108   20    0 
jade      937448450  9  1 Bf  -     -     -         4088   10    0 
jade      937448493  9  9 f   -     -     -         4078    0    0 
jade      937448509  9  8 f   -     -     -         4078    0    0 
jade      937448517  9  7 f   -     -     -         4078    0    0 
jade      937448535  9  6 f   -     -     -         4078    0    0 
jade      937448584  9  5 f   -     -     -         4078    0    0 
jade      937448650  9  4 f   -     -     -         4078    0    0 
jade      937448688  9  3 f   -     -     -         4078    0    0 
jade      937448723  9  2 Bk  b     bc    c         4078  160  480 Ah Ad
jade      937448768  9  1 Bf  -     -     -         4398   10    0 
jade      937448817  9  9 c   f     -     -         4388   20    0 
jade      937448862  9  8 f   -     -     -         4368    0    0 
jade      937448902  9  7 c   r     b     b         4368  140  360 Qc As
jade      937448944  9  6 c   k     b     b         4588  100  280 Qh As
jade      937449017  9  5 f   -     -     -         4768    0    0 
jade      937449032  9  4 f   -     -     -         4768    0    0 
jade      937449078  9  3 f   -     -     -         4768    0    0 
jade      937449087  9  2 Bk  k     k     kf        4768   20    0 
jade      937449127  9  1 Bf  -     -     -         4748   10    0 
jade      937449176  8  8 f   -     -     -         4738    0    0 
jade      937449207  9  8 f   -     -     -         4738    0    0 
jade      937449239  9  7 f   -     -     -         4738    0    0 
jade      937449264  9  6 f   -     -     -         4738    0    0 
jade      937449349  9  5 f   -     -     -         4738    0    0 
jade      937449392  9  4 f   -     -     -         4738    0    0 
jade      937449424  9  3 c   k     k     f         4738   20    0 
jade      937449500 10  2 Bk  k     kf    -         4718   20    0 
jade      937449574 10  1 Bf  -     -     -         4698   10    0 
jade      937449614 10 10 f   -     -     -         4688    0    0 
jade      937449667 10  9 f   -     -     -         4688    0    0 
jade      937449710 10  9 f   -     -     -         4688    0    0 
jade      937449762 10  7 f   -     -     -         4688    0    0 
jade      937449847 10  6 f   -     -     -         4688    0    0 
jade      937449942 10  5 f   -     -     -         4688    0    0 
jade      937449981 10  4 f   -     -     -         4688    0    0 
jade      937450054 10  5 f   -     -     -         4688    0    0 
jade      937450100  8  2 Bcc c     c     f         4688  140    0 
jade      937450175  9  1 Bf  -     -     -         4548   10    0 
jade      937450197  9  9 f   -     -     -         4538    0    0 
jade      937450238  9  8 fQ  -     -     -         4538    0    0 
jade      937959488 10  3 f   -     -     -         6958    0    0 
jade      937959536 10  2 Bk  f     -     -         6958   20    0 
jade      937959592 10  1 Bc  kf    -     -         6938   20    0 
jade      937959641 10 10 rc  rr    c     c         6918  220    0 Ad As
jade      937959754 10  5 Q   -     -     -         6698    0    0 
jade      938230061  9  7 f   -     -     -         6728    0    0 
jade      938230095 10  7 f   -     -     -         6728    0    0 
jade      938230149 10  6 f   -     -     -         6728    0    0 
jade      938230254 10  5 f   -     -     -         6728    0    0 
jade      938230292 10  4 f   -     -     -         6728    0    0 
jade      938230321 10  3 f   -     -     -         6728    0    0 
jade      938230364  9  2 Bk  brc   kc    kc        6728  180    0 Ah Jc
jade      938230446 10  1 Br  kf    -     -         6548   60    0 
jade      938230544 10 10 f   -     -     -         6488    0    0 
jade      938230599  9  8 f   -     -     -         6488    0    0 
jade      938230687  8  7 cc  kf    -     -         6488   40    0 
jade      938230769  8  6 fQ  -     -     -         6448    0    0 
