jade      936405872 10  5 cc  kc    b     b         3558   80  245 Ks Js
jade      936405965  9  3 f   -     -     -         3723    0    0 
jade      936406069  8  2 f   -     -     -         3723    0    0 
jade      936406145  8  2 Bf  -     -     -         3723   10    0 
jade      936406182  8  1 Bf  -     -     -         3713    5    0 
jade      936406241  9  9 f   -     -     -         3708    0    0 
jade      936406306  9  8 f   -     -     -         3708    0    0 
jade      936406361  9  7 f   -     -     -         3708    0    0 
jade      936406407 10  7 f   -     -     -         3708    0    0 
jade      936406478  9  5 f   -     -     -         3708    0    0 
jade      936406530 10  5 f   -     -     -         3708    0    0 
jade      937956765  9  6 fQ  -     -     -         4258    0    0 
jade      937958877 10  2 Bc  kf    -     -         6983   20    0 
jade      937958927 10  1 Bf  -     -     -         6963    5    0 
jade      937959027  6  4 Q   -     -     -         6958    0    0 
jade      938138050  9  3 f   -     -     -         6803    0    0 
jade      938138168 10  2 Bc  kc    kf    -         6803   30    0 
jade      938138247 10  1 Bf  -     -     -         6773    5    0 
jade      938138347  8  8 f   -     -     -         6768    0    0 
jade      938138440  9  8 f   -     -     -         6768    0    0 
jade      938138515  9  7 c   f     -     -         6768   10    0 
jade      938138585 10  6 f   -     -     -         6758    0    0 
jade      938138729 10  6 f   -     -     -         6758    0    0 
jade      938138816 10  4 f   -     -     -         6758    0    0 
jade      938138916 10  3 f   -     -     -         6758    0    0 
jade      938138960 10  2 Bf  -     -     -         6758   10    0 
jade      938139027 10  1 Bf  -     -     -         6748    5    0 
jade      938139104 10 10 f   -     -     -         6743    0    0 
jade      938139172 10  9 f   -     -     -         6743    0    0 
jade      938139242 10  8 f   -     -     -         6743    0    0 
jade      938139310 10  7 f   -     -     -         6743    0    0 
jade      938139374 10  6 f   -     -     -         6743    0    0 
jade      938139449 10  5 f   -     -     -         6743    0    0 
jade      938139548 10  4 f   -     -     -         6743    0    0 
jade      938139655 10  3 f   -     -     -         6743    0    0 
jade      938139732  9  2 Bf  -     -     -         6743   10    0 
jade      938139802 10  1 Bf  -     -     -         6733    5    0 
jade      938139890 10 10 f   -     -     -         6728    0    0 
jade      938139953 10  9 f   -     -     -         6728    0    0 
jade      938139982  9  8 f   -     -     -         6728    0    0 
jade      938140030  9  7 f   -     -     -         6728    0    0 
jade      938140116 10  6 KQ  -     -     -         6728    0    0 
