pug       918697397  8  8 f   -     -     -         1261    0    0 
pug       918697448  8  7 c   r     rr    rc        1261  180  277 8c 5c 3c 4d
pug       918697556  9  7 c   fQ    -     -         1358   20    0 
