jade      967510150 10  5 f   -     -     -         2158    0    0 
jade      967510209 10  4 f   -     -     -         2158    0    0 
jade      967510247 10  3 r   b     -     -         2158   60  200 
jade      967510280 10  2 Bk  kr    k     b         2298  100  250 Ad 4s
jade      967510325 10  1 Bc  k     kc    kf        2448   80    0 
jade      967510429 10 10 c   f     -     -         2368   20    0 
jade      967510464 10  9 f   -     -     -         2348    0    0 
jade      967510511 10  8 f   -     -     -         2348    0    0 
jade      967510588 10  8 f   -     -     -         2348    0    0 
jade      967510665 10  6 f   -     -     -         2348    0    0 
jade      967510716 10  5 c   b     b     k         2348   80  200 Jh Js
jade      967510786 10  4 cc  b     b     bc        2468  200  670 5h 3h
jade      967510853 10  3 c   b     -     -         2938   40   80 
jade      967510873 10  2 Br  b     b     r         2978  180  200 Kc Ad
jade      967510919 10  1 Bc  kf    -     -         2998   20    0 
jade      967510966 10 10 r   b     b     k         2978  100    0 Qc Jc
jade      967510998 10  9 f   -     -     -         2878    0    0 
jade      967511007 10  8 f   -     -     Q         2878    0    0 
jade      967512958  9  6 c   b     b     kf        2878   80    0 
jade      967513018  9  5 c   r     k     bc        2798  140  370 Jc As
jade      967513070  9  4 fQ  -     -     -         3028    0    0 
