pug       907397064  7  7 f   -     -     -         1000    0    0 
pug       907397096  7  6 f   -     -     -         1000    0    0 
pug       907397130  7  5 f   -     -     -         1000    0    0 
pug       907397158  7  4 f   -     -     -         1000    0    0 
pug       907397168  7  3 f   -     -     -         1000    0    0 
pug       907397199  7  2 Bc  bc    k     b         1000   60    0 Th 9d
pug       907397237  7  1 Bc  kf    -     -          940   20    0 
pug       907397269  7  7 r   b     c     k          920   50  180 Ad 4h
pug       907397309  7  6 f   -     -     -         1050    0    0 
pug       907397342  7  5 fQ  -     -     -         1050    0    0 
