jade      975251316 10  7 rc  k     kr    f         1510   80    0 
jade      975251394 10  6 f   -     -     -         1430    0    0 
jade      975251471 10  5 c   kf    -     -         1430   10    0 
jade      975251531 10  4 f   -     -     -         1420    0    0 
jade      975251572 10  3 rr  r     b     k         1420   80    0 Ks Kd
jade      975251649 10  2 Bk  k     b     b         1340   50   95 
jade      975251702 10  1 Bc  b     bc    kc        1385   80    0 Jc 7h
jade      975251760 10 10 r   r     k     f         1305   40    0 
jade      975251821 10  9 r   f     -     -         1265   20    0 
jade      975251880 10  8 f   -     -     -         1245    0    0 
jade      975251973 10  7 f   -     -     -         1245    0    0 
jade      975252027 10  6 c   rc    cc    kc        1245  110    0 Qh Tc
jade      975252073 10  5 f   -     -     -         1135    0    0 
jade      975252125 10  4 f   -     -     -         1135    0    0 
jade      975252200 10  3 f   -     -     -         1135    0    0 
jade      975252256 10  2 Bf  -     -     -         1135   10    0 
jade      975252356 10  1 Bf  -     -     -         1125    5    0 
jade      975252427 10 10 r   c     f     -         1120   60    0 
jade      975252509 10  9 fQ  -     -     -         1060    0    0 
jade      975254143  8  6 f   -     -     -         1060    0    0 
jade      975254211  8  5 f   -     -     -         1060    0    0 
jade      975254305  7  3 f   -     -     -         1060    0    0 
jade      975254339  7  2 Brc bc    b     kc        1060  100    0 Ac Kd
jade      975254399  7  1 Brc br    b     b          960  110  250 
jade      975254436  7  7 f   -     -     -         1100    0    0 
jade      975254497  7  6 f   -     -     -         1100    0    0 
jade      975254535  7  5 f   -     -     -         1100    0    0 
jade      975254585  7  4 rr  c     c     c         1100   90    0 Jh Ah
jade      975254617  7  3 f   -     -     -         1010    0    0 
jade      975254657  7  2 Bc  kf    -     -         1010   20    0 
jade      975254704  7  1 Brc krc   k     b          990  100  450 Kh Kc
jade      975254761  7  7 f   -     -     -         1340    0    0 
jade      975254816  7  6 f   -     -     -         1340    0    0 
jade      975254851  7  5 rr  k     k     k         1340   40    0 Ks 9s
jade      975254917  7  4 f   -     -     -         1300    0    0 
jade      975254964  6  3 f   -     -     -         1300    0    0 
jade      975255004  6  2 Bk  kc    kc    kf        1300   40    0 
jade      975255037  6  1 Brc kf    -     -         1260   40    0 
jade      975255090  6  6 f   -     -     -         1220    0    0 
jade      975255122  6  5 cr  kf    -     -         1220   30    0 
jade      975255167  6  4 rc  c     c     c         1190   90    0 3d Qd
jade      975255212  6  3 f   -     -     -         1100    0    0 
jade      975255249  6  2 Br  rr    rc    br        1100  220  740 Kd 8d
jade      975255355  6  1 Bc  k     kf    -         1620   10    0 
jade      975255403  7  7 c   f     -     -         1610   10    0 
jade      975255446  7  6 f   -     -     -         1600    0    0 
jade      975255489  6  4 r   brc   b     k         1600   80    0 Ac Qh
jade      975255520  6  3 f   -     -     -         1520    0    0 
jade      975255558  6  2 Bc  kc    kf    -         1520   30    0 
jade      975255616  6  1 Bf  -     -     -         1490    5    0 
jade      975255641  6  6 f   -     -     -         1485    0    0 
jade      975255677  6  5 f   -     -     -         1485    0    0 
jade      975255701  6  4 f   -     -     -         1485    0    0 
jade      975255759  6  3 r   b     b     b         1485   70  150 
jade      975255786  6  2 Bc  kr    kr    b         1565  100  285 5c 6h
jade      975255813  6  1 Brr kcc   kf    -         1750   70    0 
jade      975255905  7  7 f   -     -     -         1680    0    0 
jade      975255947  8  6 f   -     -     -         1680    0    0 
jade      975255972  8  5 rc  k     k     b         1680   58  167 Ks 7s
jade      975256026  6  3 r   b     b     -         1789   50  120 
jade      975256060  6  2 Bc  f     -     -         1859   20    0 
jade      975256113  5  1 Bc  kf    -     -         1839   10    0 
jade      975256151  5  5 c   f     -     -         1829   10    0 
jade      975256213  5  4 f   -     -     -         1819    0    0 
jade      975256239  5  3 f   -     -     -         1819    0    0 
jade      975256244  5  2 Bk  kc    kc    b         1819   60  115 
jade      975256281  5  1 Bf  -     -     -         1874    5    0 
jade      975256302  6  6 f   -     -     -         1869    0    0 
jade      975256309  6  5 r   c     c     k         1869   60    0 3s 4s
jade      975256348  5  4 f   -     -     -         1809    0    0 
jade      975256362  5  3 f   -     -     -         1809    0    0 
jade      975256394  5  2 Bk  b     b     -         1809   40   70 
jade      975256429  5  1 Bc  kc    kc    k         1839   50   64 3d 6d
jade      975256476  5  5 f   -     -     -         1853    0    0 
jade      975256498  5  4 f   Q     -     -         1853    0    0 
jade      975262058 10  9 r   c     c     f         1853   50    0 
jade      975262113  9  7 r   b     b     b         1803   70  195 Jc Th
jade      975262175  7  5 r   r     rr    rr        1928  200  440 Kd Jd
jade      975262212  9  6 Q   -     -     -         2168    0    0 
