Target    900682146  3  1 +Br   r      c      b        k         1000   90  135 3h 7c Qh 8s  4s 4h As
Target    900682209  4  3  f    -      -      -        -         1045    0    0 Qh
Target    900682300  4  2  f    -      -      -        -         1045    0    0 8s
Target    900682336  4  2  c    k      bc     kc       kc        1045   90  280 7c Jh As Ts  Ac 8h Jc
Target    900682401  4  2  r   +k     +kf     -        -         1235   20    0 Ac Th Jh
Target    900682442  4  4  f    -      -      -        -         1215    0    0 Tc
Target    900682487  4  1 +Bk   k     +b      b        b         1215   70  150 6d 2h Ah Kh
Target    900682570  4  3  c   +kr    +b     +k       +k         1295   50    0 Ks Ts Ac 8d  Kd Jc 3h
Target    900682618  4  1 +Bk  +k      b      k        c         1245   50    0 4h Qh 6d 7s  6h Qd Jh
Target    900682669  4  2  f    -      -      -        -         1195    0    0 Td
Target    900682727  4  3  f    -      -      -        -         1195    0    0 7c
Target    900682767  4  4  c   +kc    +k     +k       +kf        1195   20    0 8d 8h Qd As
Target    900682814  4  2  f    -      -      -        -         1175    0    0 Tc
Target    900682878  5  1 +Bf   QQ     -      -        -         1175   10    0 2h
