jade      974323567  7  6 r   cc    c     rr        1895  150  195 7h Kh
jade      974323636  7  6 f   -     -     -         1910    0    0 
jade      974323692  6  4 cc  r     k     k         1910   40    0 9s Jd
jade      974323755  5  3 f   -     -     -         1670    0    0 
jade      974323802  5  2 Bc  br    b     bc        1670  110  260 5s Ad
jade      974323845  5  1 Bf  -     -     -         1820    5    0 
jade      974323915  3  3 r   b     b     -         1775   50   85 
jade      974323932  3  2 Bc  f     -     -         1800   20    0 
jade      974323947  3  1 Br  b     -     -         1780   30   70 
jade      974323964  3  3 f   -     -     -         1820    0    0 
jade      974323983  3  2 Br  b     -     -         1780   30   70 
jade      974324001  4  1 Bc  kf    -     -         1820   20    0 
jade      974324017  4  4 r   b     b     k         1800   50  105 Ks Ts
jade      974324044  4  3 f   -     -     -         1855    0    0 
jade      974324102  3  2 Bk  kf    -     -         1855   10    0 
jade      974324121  4  1 Bcrc kf    -     -         1845   40    0 
jade      974324177  4  4 f   -     -     -         1805    0    0 
jade      974324182  4  3 f   -     -     -         1805    0    0 
jade      974324196  4  2 Br  k     k     k         1805   20    0 Tc Qd
jade      974324229  5  1 Bf  -     -     -         1785    5    0 
jade      974324276  5  5 r   b     bc    k         1630   80    0 Jc Ad
jade      974324350  5  4 fQ  -     -     -         1550    0    0 
