jade      966461794  7  7 rr  rr    rc    f         1000  160    0 
jade      966461874  8  7 r   b     b     -          840   50   85 
jade      966461909  8  6 f   -     -     -          875    0    0 
jade      966461965  7  5 f   -     -     -          875    0    0 
jade      966461999  6  3 r   b     -     -          875   30   65 
jade      966462063  5  2 Bk  c     k     kf        1090   20    0 
jade      966462096  6  1 Br  k     kf    -         1230   20    0 
jade      966462149  6  6 f   -     -     -         1350    0    0 
jade      966462165  6  5 r   k     k     k         1310   20   22 7c 6d
jade      966462202  6  4 r   k     k     k         1202   20    0 3s Ts
jade      966462234  7  4 rr  brc   b     b         1102  120  335 
jade      966462298  7  2 Bf  -     -     -         1582   10    0 
jade      966462348  7  1 Bc  kc    kf    -         1852   20    0 
jade      966462383  7  7 rc  c     k     f         2072   50    0 
jade      966462442  7  6 rr  f     -     -         1902   40    0 
jade      966462496  8  6 f   -     -     -         1777    0    0 
jade      966462546  8  5 f   -     -     -         1777    0    0 
jade      966462633  7  4 f   -     -     -         1657    0    0 
jade      966462712  8  3 rc  br    br    b         1612  160    0 8c Qc
jade      966462787  7  2 Br  kf    -     -         1432   30    0 
jade      966462831  6  1 Bf  -     -     -         1402    5    0 
jade      966462865  6  6 r   b     -     -         1397   40   85 
jade      966462885  6  5 crc f     -     -         1442   40    0 
jade      966462939  8  5 f   -     -     -         1672    0    0 
jade      966462989  8  4 f   -     -     -         1672    0    0 
jade      966463024  8  3 r   k     k     k         1852   20    0 2h 3h
jade      966463059  8  2 Br  br    k     k         1832   80    0 Js 4s
jade      966463109  8  1 Bcc kc    kc    kf        1702   60    0 
jade      966463174  8  8 r   rr    cf    -         1572  110    0 
jade      966463263  8  7 rc  f     -     -         1462   40    0 
jade      966463347  8  6 f   -     -     -         1462    0    0 
jade      966463394  7  5 f   -     -     -         1462    0    0 
jade      966463421  7  4 cc  Q     -     -         1652   20    0 
jade      966468169 10  6 rc  r     f     -         1482   80    0 
jade      966468301 10  5 f   -     -     -         1402    0    0 
jade      966468378  9  3 f   -     -     -         1402    0    0 
jade      966468439  8  2 Bf  -     -     -         1302   10    0 
jade      966468490  8  1 Bf  -     -     -         1667    5    0 
jade      966468540  9  9 rc  r     rc    c         1662  180    0 5h Ah
jade      966468639 10  9 f   -     -     -         1342    0    0 
jade      966468701 10  8 f   -     -     -         1337    0    0 
jade      966468771 10  7 rc  c     f     -         1337   60    0 
jade      966468836 10  6 f   -     -     -         1257    0    0 
jade      966468884 10  5 f   -     -     -         1257    0    0 
jade      966468950 10  4 rc  rc    rc    rc        1257  270    0 3h 3s
jade      966469033 10  3 f   -     -     -          957    0    0 
jade      966469102 10  2 Brc b     b     b         1072   90    0 4d 8d
jade      966469173 10  1 Bf  -     -     -          912    5    0 
jade      966469225 10 10 f   -     -     -          837    0    0 
jade      966469296 10  9 f   -     -     -          822    0    0 
jade      966469337 10  8 rc  r     f     -          822   80    0 
jade      966469425 10  7 r   rc    c     f          722   70    0 
jade      966469473 10  6 cc  rr    rc    rr         632  200    0 9d Qh
jade      966469558 10  5 rr  f     -     -          392   40    0 
jade      966469625 10  4 c   k     k     b          352   30   75 7c 8d
jade      966469676 10  3 f   -     -     -          377    0    0 
jade      966469738 10  2 Bf  -     -     -          287   10    0 
jade      966469801 10  1 Brc br    b     b          277  110    0 Ts Kd
jade      966469892 10 10 cc  c     rcA   -          117  117    0 Qh 4h
jade      967235237  9  5 f   -     -     -          990    0    0 
jade      967235272 10  4 f   -     -     -          990    0    0 
jade      967235310 10  3 f   -     -     -          990    0    0 
jade      967235341  8  2 Brc br    brc   b          990  170  575 Jd Jh
jade      967235405  8  1 Br  b     b     b         1395   80  250 
jade      967235453  7  7 f   -     -     -         1565    0    0 
jade      967235468  7  6 crc k     kf    -         1565   40    0 
jade      967235499  8  6 f   -     -     -         1525    0    0 
jade      967235539  8  5 f   -     -     -         1525    0    0 
jade      967235573  8  4 f   -     -     -         1525    0    0 
jade      967235611  8  3 f   -     -     -         1525    0    0 
jade      967235643  8  2 Bf  -     -     -         1525   10    0 
jade      967235669  7  1 Br  b     kr    b         1515   90  300 As Qh
jade      967235726  7  7 c   r     rc    f         1725  120    0 
jade      967235781  7  6 f   -     -     -         1605    0    0 
jade      967235808  7  5 f   -     -     -         1605    0    0 
jade      967235842  8  5 f   -     -     -         1605    0    0 
jade      967235880  8  4 cr  kc    k     r         1605   82    0 8d Ad
jade      967235937  7  3 f   -     -     -         1523    0    0 
jade      967235973  6  2 Bc  f     -     -         1523   20    0 
jade      967236009  6  1 Bc  bc    b     b         1503   70  190 
jade      967236035  6  6 c   f     -     -         1623   20    0 
jade      967236058  6  5 c   b     b     b         1603   60  120 
jade      967236083  6  4 c   kc    k     k         1663   20    0 Ac 7s
jade      967236117  7  3 f   -     -     -         1643    0    0 
jade      967236158  6  1 Br  b     k     b         1643   50  100 7s 9s
jade      967236192  6  1 Br  -     -     -         1693   20   30 
jade      967236201  7  7 c   f     -     -         1703   10    0 
jade      967236217  7  6 f   -     -     -         1693    0    0 
jade      967236253  7  5 rr  b     bf    -         1693   70    0 
jade      967236295  6  4 f   -     -     -         1623    0    0 
jade      967236338  6  4 r   b     -     -         1623   30   60 
jade      967236355  7  3 f   -     -     -         1653    0    0 
jade      967236396  7  2 Bc  k     bc    br        1653  120    0 Qh 4d
jade      967236429  7  1 Bc  brc   krr   br        1533  190  380 9c 8s
jade      967236483  7  7 r   k     c     f         1723   40    0 
jade      967236524  7  6 c   b     b     b         1683   60  145 7s Ks
jade      967236559  7  5 f   -     -     -         1768    0    0 
jade      967236569  7  4 f   -     -     -         1768    0    0 
jade      967236613  9  4 f   -     -     -         1768    0    0 
jade      967236660 10  3 f   -     -     -         1768    0    0 
jade      967236744 10  2 Bk  k     kf    -         1768   10    0 
jade      967236798 10  1 Bf  -     -     -         1758    5    0 
jade      967236854  9  9 f   -     -     -         1753    0    0 
jade      967236917  9  8 f   -     -     -         1753    0    0 
jade      967236973  9  7 f   -     -     -         1753    0    0 
jade      967237047  8  5 f   Q     -     -         1753    0    0 
jade      967352750  9  7 KQ  -     -     -         2158    0    0 
