jade      969490888  9  9 r   rr    f     -          895   60    0 
jade      969490909  9  9 f   -     -     -          835    0    0 
jade      969490944  9  8 f   -     -     -          835    0    0 
jade      969490967 10  7 rc  k     kf    -          835   40    0 
jade      969491048  9  6 f   -     -     -          795    0    0 
jade      969491075  9  5 f   -     -     -          795    0    0 
jade      969491116 10  4 f   -     -     -          795    0    0 
jade      969491179 10  3 f   -     -     -          795    0    0 
jade      969491212  9  2 Bf  -     -     -          795   10    0 
jade      969491286 10  1 Bc  kf    -     -          785   10    0 
jade      969491360 10 10 f   -     -     -          775    0    0 
jade      969491384 10  9 rr  rc    f     -          775   80    0 
jade      969491455 10  8 f   -     -     -          695    0    0 
jade      969491516 10  7 f   -     -     -          695    0    0 
jade      969491570 10  6 f   -     -     -          695    0    0 
jade      969491619 10  5 f   -     -     -          695    0    0 
jade      969491678  8  3 f   -     -     -          695    0    0 
jade      969491704  8  2 BQ  -     -     -          695   10    0 
