jade      933731238 10  2 Bc  bc    b     bc        3858  100  325 Qh Kc
jade      933731294 10  1 Bc  kc    k     kf        4083   40    0 
jade      933731342 10 10 f   -     -     -         4043    0    0 
jade      933731410 10  9 f   -     -     -         4043    0    0 
jade      933731442 10  8 f   -     -     -         4043    0    0 
jade      933731485 10  7 f   -     -     -         4043    0    0 
jade      933731580 10  6 f   -     -     -         4043    0    0 
jade      933731613 10  5 f   Q     -     -         4043    0    0 
