jade      931746275  9  8 f   -     -     -         2113    0    0 
jade      931746335 10  7 r   b     b     b         2113   70  235 Tc Ts
jade      931746388 10  6 r   b     bc    kf        2278   70    0 
jade      931746447 10  5 f   -     -     -         2208    0    0 
jade      931746473 10  4 f   -     -     -         2208    0    0 
jade      931746560 10  4 f   -     -     -         2208    0    0 
jade      931746656  9  2 Bc  krr   kc    kc        2208  100    0 Kd 8c
jade      931746720  9  1 Bc  kr    b     b         2108   70  130 
jade      931746754  9  9 c   c     k     f         2168   20    0 
jade      931746802  9  8 f   -     -     -         2148    0    0 
jade      931746853  9  7 f   -     -     -         2148    0    0 
jade      931746903  9  6 c   b     b     b         2148   60    0 8d Kd
jade      931746971  9  5 f   -     -     -         2088    0    0 
jade      931747023 10  5 f   -     -     -         2088    0    0 
jade      931747044 10  4 c   br    k     kf        2088   40    0 
jade      931747086 10  3 f   -     -     -         2048    0    0 
jade      931747124 10  2 Bc  kc    kf    -         2048   30    0 
jade      931747172 10  1 Bf  -     -     -         2018    5    0 
jade      931747226 10 10 c   f     -     -         2013   20    0 
jade      931747278  9  8 f   -     -     -         1993    0    0 
jade      931747297  9  7 f   -     -     -         1993    0    0 
jade      931747338  9  6 f   -     -     -         1993    0    0 
jade      931747357  9  5 cc  kc    f     -         1993   50    0 
jade      931747416  9  4 f   -     -     -         1943    0    0 
jade      931747452 10  3 cc  r     b     b         1943   80  230 5c 5h
jade      931747498 10  2 Bk  kf    -     -         2093   10    0 
jade      931747571 10  1 Bf  -     -     -         2083    5    0 
jade      931747612 10 10 c   r     -     -         2078   30   65 
jade      931747637  9  8 cc  cc    kf    -         2113   40    0 
jade      931747679  9  7 f   -     -     -         2073    0    0 
jade      931747730  9  6 f   -     -     -         2073    0    0 
jade      931747744  8  4 f   -     -     -         2073    0    0 
jade      931747799  8  3 f   -     -     -         2073    0    0 
jade      931747832  8  2 Bc  kc    kf    -         2073   30    0 
jade      931747855  8  1 Bc  kf    -     -         2043   20    0 
jade      931747896  8  8 r   b     brc   rc        2023  170  180 As 8h
jade      931747956  7  6 f   -     -     -         2033    0    0 
jade      931747987  8  6 f   -     -     -         2033    0    0 
jade      931748003  7  5 f   -     -     -         2033    0    0 
jade      931748016  7  4 f   -     -     -         2033    0    0 
jade      931748043  7  3 f   -     -     -         2033    0    0 
jade      931748060  7  2 Bcc k     b     kc        2033   80    0 Th Qs
jade      931748106  6  1 Bf  -     -     -         1953    5    0 
jade      931748125  6  6 c   k     k     k         1948   10    0 5h Kh
jade      931748144  6  5 c   k     k     k         1938   10    0 Jd Qd
jade      931748163  6  4 r   -     -     -         1928   20   35 
jade      931748174  7  4 cc  kc    kc    k         1943   50    0 9s Ac
jade      931748220  8  3 f   -     -     -         1893    0    0 
jade      931748252  7  2 Bf  -     -     -         1893   10    0 
jade      931748269  7  1 Bf  -     -     -         1883    5    0 
jade      931748291  7  7 c   c     c     f         1878   60    0 
jade      931748320  8  6 f   -     -     -         1818    0    0 
jade      931748341  8  5 f   -     -     -         1818    0    0 
jade      931748371  8  4 f   -     -     -         1818    0    0 
jade      931748409  8  3 cc  kf    -     -         1818   20    0 
jade      931748437  8  2 Bk  k     f     -         1798   10    0 
jade      931748465  9  1 Bc  k     kf    -         1788   20    0 
jade      931748519  8  8 c   f     -     -         1768   20    0 
jade      931748541  7  7 f   -     -     -         1748    0    0 
jade      931748564  7  6 f   -     -     -         1748    0    0 
jade      931748635  7  5 f   -     -     -         1748    0    0 
jade      931748645  7  4 cc  kc    kf    -         1748   30    0 
jade      931748717  5  2 Bc  r     c     r         1718  110  250 9d Jd
jade      931748744  5  1 Bc  kf    -     -         1858   20    0 
jade      931748808  5  5 f   -     -     -         1838    0    0 
jade      931748834  5  4 c   k     f     -         1838   10    0 
jade      931748863  5  3 f   -     -     -         1828    0    0 
jade      931748882  5  2 Bk  kc    kc    kf        1828   40    0 
jade      931748924  5  1 Bf  -     -     -         1788    5    0 
jade      931748927  5  5 f   -     -     -         1783    0    0 
jade      931748945  5  4 c   kf    -     -         1783   10    0 
jade      931748963  5  3 c   k     c     c         1773   50    0 Ts Ah
jade      931748987  5  2 Bc  kc    kf    -         1723   30    0 
jade      931749031  5  1 BfQ -     -     -         1693    5    0 
jade      931819547  7  4 f   -     -     -         1863    0    0 
jade      931819573  7  3 f   -     -     -         1863    0    0 
jade      931819600  7  2 BQ  -     -     -         1863   10    0 
jade      931835441 10  5 KQ  -     -     -         1688    0    0 
jade      932182661  7  3 f   -     -     -         1688    0    0 
jade      932182715  8  3 cc  brc   kc    kc        1688  100    0 8d 8s
jade      932182784  8  2 Bc  kf    -     -         1588   20    0 
jade      932182826  8  1 Bc  k     k     k         1568   10    0 Td 9h
jade      932182856  9  9 f   -     -     -         1558    0    0 
jade      932182901  9  8 f   -     -     -         1558    0    0 
jade      932182961 10  8 f   -     -     -         1558    0    0 
jade      932183026 10  7 f   -     -     -         1558    0    0 
jade      932183056 10  6 cc  kc    k     kc        1558   50    0 5c Ac
jade      932183141 10  5 f   -     -     -         1508    0    0 
jade      932183223 10  4 f   -     -     -         1508    0    0 
jade      932183319  9  2 f   -     -     -         1508    0    0 
jade      932183369  9  2 Bc  k     b     kc        1508   60    0 Jc 4c
jade      932183446  9  1 Bc  kf    -     -         1448   10    0 
jade      932183499  9  9 r   rr    c     f         1438   80    0 
jade      932183546  9  8 c   r     c     f         1358   50    0 
jade      932183627 10  8 rr  rr    c     c         1308  120    0 Ac Kd
jade      932183700 10  7 f   -     -     -         1188    0    0 
jade      932183737 10  6 cc  kc    k     b         1188   50  215 Kh Th
jade      932183795 10  5 f   -     -     -         1353    0    0 
jade      932183864 10  4 f   -     -     -         1353    0    0 
jade      932183962 10  3 ccc kc    kc    k         1353   70    0 7s 7c
jade      932184039 10  2 Bcc kc    kf    -         1283   50    0 
jade      932184116 10  1 Bcc kcc   kcc   kcc       1233  220 1000 Qs Tc
jade      932184220 10 10 c   c     f     -         2013   30    0 
jade      932184281 10  9 c   c     c     c         1983   70  230 Qh 4h
jade      932184336 10  8 cc  f     -     -         2143   40    0 
jade      932184425 10  7 f   -     -     -         2103    0    0 
jade      932184478 10  6 f   -     -     -         2103    0    0 
jade      932184582 10  5 c   ccc   f     -         2103   50    0 
jade      932184650 10  4 f   -     -     -         2053    0    0 
jade      932184738 10  3 f   -     -     -         2053    0    0 
jade      932184801 10  2 Bk  kc    kf    -         2053   20    0 
jade      932184838 10  1 Br  -     -     -         2033   20   40 
jade      932184882 10 10 f   -     -     -         2053    0    0 
jade      932184925 10  9 f   -     -     -         2053    0    0 
jade      932184982 10  8 f   -     -     -         2053    0    0 
jade      932185002 10  7 f   -     -     -         2053    0    0 
jade      932185082 10  6 f   -     -     -         2053    0    0 
jade      932185129 10  5 f   -     -     -         2053    0    0 
jade      932185211 10  4 f   -     -     -         2053    0    0 
jade      932185268 10  3 f   -     -     -         2053    0    0 
jade      932185308 10  2 Bk  k     k     kf        2053   10    0 
jade      932185356 10  1 Bc  b     b     b         2043   60  160 Jc Kd
jade      932185399 10 10 c   k     k     f         2143   10    0 
jade      932185456 10  9 c   b     b     k         2133   40  120 Js Jc
jade      932185537 10  8 c   b     c     c         2213   60    0 7d Qd
jade      932185600 10  7 f   -     -     -         2153    0    0 
jade      932185678 10  6 f   -     -     -         2153    0    0 
jade      932185770 10  5 cc  ccc   kf    -         2153   60    0 
jade      932185838 10  4 cc  krr   k     kc        2093   80    0 3h Ah
jade      932185916 10  3 f   -     -     -         2013    0    0 
jade      932185969 10  2 Bc  bc    k     bc        2013   80    0 Kc 6h
jade      932186040 10  1 Bc  bc    kf    -         1933   30    0 
jade      932186088 10 10 c   b     k     b         1903   40    0 Ah 9c
jade      932186151 10  9 f   -     -     -         1863    0    0 
jade      932186187 10  8 f   -     -     -         1863    0    0 
jade      932186259 10  7 r   c     k     f         1863   30    0 
jade      932186326 10  6 cc  kf    -     -         1833   20    0 
jade      932186380 10  5 rr  rc    k     c         1813   90    0 Td Tc
jade      932186416 10  4 f   -     -     -         1723    0    0 
jade      932186460 10  3 f   -     -     -         1723    0    0 
jade      932186574 10  2 Bk  kc    kc    k         1723   40    0 Ks 5s
jade      932186627 10  1 Bcf -     -     -         1683   10    0 
jade      932186764 10 10 f   -     -     -         1673    0    0 
jade      932186806 10  9 c   b     k     kf        1673   20    0 
jade      932186884 10  8 r   r     r     b         1653  100  360 7s 7h
jade      932186975 10  7 f   -     -     -         1913    0    0 
jade      932187041 10  6 c   kf    -     -         1913   10    0 
jade      932187078 10  5 f   -     -     -         1903    0    0 
jade      932187143 10  4 f   -     -     -         1903    0    0 
jade      932187212 10  3 f   -     -     -         1903    0    0 
jade      932187232 10  2 Bk  kf    -     -         1903   10    0 
jade      932187281 10  1 Bc  kc    k     kc        1893   40   80 Ts Ah
jade      932187336 10 10 f   -     -     -         1933    0    0 
jade      932187373 10  9 f   -     -     -         1933    0    0 
jade      932187443 10  8 cc  kf    -     -         1933   20    0 
jade      932187479 10  7 f   -     -     -         1913    0    0 
jade      932187539 10  6 f   -     -     -         1913    0    0 
jade      932187580 10  5 c   c     f     -         1913   30    0 
jade      932187633 10  4 f   -     -     -         1883    0    0 
jade      932187700 10  3 f   -     -     -         1883    0    0 
jade      932187747 10  2 Bc  c     kf    -         1883   30    0 
jade      932187797 10  1 Bf  -     -     -         1853    5    0 
jade      932187875 10 10 f   -     -     -         1848    0    0 
jade      932187936  9  8 cc  k     kc    kc        1848   60    0 7s 9d
jade      932188003 10  8 f   -     -     -         1788    0    0 
jade      932188051 10  7 cc  k     kf    -         1788   20    0 
jade      932188119  9  5 f   -     -     -         1768    0    0 
jade      932188184  9  4 fQ  -     -     -         1768    0    0 
jade      932520842 10  7 f   -     -     -         1768    0    0 
jade      932520901 10  6 f   -     -     -         1768    0    0 
jade      932520989 10  5 f   -     -     -         1768    0    0 
jade      932521033 10  4 f   -     -     -         1768    0    0 
jade      932521116 10  3 f   -     -     -         1768    0    0 
jade      932521206 10  2 Bf  -     -     -         1768   10    0 
jade      932521282 10  1 Bf  -     -     -         1758    5    0 
jade      932521314 10 10 f   -     -     -         1753    0    0 
jade      932521360  8  7 f   -     -     -         1753    0    0 
jade      932521402  9  7 f   -     -     -         1753    0    0 
jade      932521466  9  6 f   -     -     -         1753    0    0 
jade      932521542  9  5 cc  c     c     c         1753   70    0 8h 7h
jade      932521613  9  4 f   -     -     -         1683    0    0 
jade      932521629  9  3 f   -     -     -         1683    0    0 
jade      932521712  9  2 Bc  kc    kc    kf        1683   50    0 
jade      932521788  9  1 Bc  kf    -     -         1633   10    0 
jade      932521832  9  9 c   f     -     -         1623   20    0 
jade      932521872 10  9 f   -     -     -         1603    0    0 
jade      932521919 10  8 cc  f     -     -         1603   20    0 
jade      932522037  9  7 f   -     -     -         1583    0    0 
jade      932522115 10  6 f   Q     -     -         1583    0    0 
jade      932609832 10  4 f   -     -     -         1583    0    0 
jade      932609886 10  3 c   kc    kf    -         1583   20    0 
jade      932609942 10  2 Br  b     b     -         1563   50   85 
jade      932609969 10  1 Bc  kf    -     -         1598   10    0 
jade      932610007 10 10 cc  c     c     rc        1588  120  420 Tc Kh
jade      932610072 10  9 rr  b     rc    c         1888  130  300 As Qs
jade      932610130 10  8 f   -     -     -         2058    0    0 
jade      932610189 10  7 f   -     -     -         2058    0    0 
jade      932610234 10  6 f   -     -     -         2058    0    0 
jade      932610327 10  5 c   ccf   -     -         2058   40    0 
jade      932610395 10  4 f   -     -     -         2018    0    0 
jade      932610434 10  3 f   -     -     -         2018    0    0 
jade      932610491 10  2 Bc  f     -     -         2018   20    0 
jade      932610552 10  1 Bf  -     -     -         1998    5    0 
jade      932610588 10 10 f   -     -     -         1993    0    0 
jade      932610656 10 10 f   -     -     -         1993    0    0 
jade      932610759 10  8 f   -     -     -         1993    0    0 
jade      932610898  9  6 rr  r     f     -         1993   60    0 
jade      932610986 10  6 f   -     -     -         1933    0    0 
jade      932611049 10  5 f   -     -     -         1933    0    0 
jade      932611111 10  4 c   k     kf    -         1933   10    0 
jade      932611154 10  3 f   -     -     -         1923    0    0 
jade      932611214 10  2 BKQ -     -     -         1923   10    0 
jade      932611407 10  7 r   kc    b     b         1913   70    0 Tc Ts
jade      932611478 10  6 f   -     -     -         1843    0    0 
jade      932611554 10  5 f   -     -     -         1843    0    0 
jade      932611618 10  4 f   -     -     -         1843    0    0 
jade      932611685 10  3 f   -     -     -         1843    0    0 
jade      932611748 10  2 Bc  kf    -     -         1843   20    0 
jade      932611822 10  1 Bc  kf    -     -         1823   20    0 
jade      932611870 10 10 f   -     -     -         1803    0    0 
jade      932611920 10  9 f   -     -     -         1803    0    0 
jade      932611976 10  8 f   -     -     -         1803    0    0 
jade      932612001 10  7 f   -     -     -         1803    0    0 
jade      932612036 10  6 f   -     -     -         1803    0    0 
jade      932612080 10  5 f   -     -     -         1803    0    0 
jade      932612150 10  4 c   c     r     b         1803   80  320 8h Ah
jade      932612198 10  3 f   -     -     -         2043    0    0 
jade      932612237 10  2 Bk  k     b     b         2043   50   90 
jade      932612273 10  1 Bc  kf    -     -         2083   10    0 
jade      932612302 10 10 f   -     -     -         2073    0    0 
jade      932612331 10  9 c   b     f     -         2073   20    0 
jade      932612393 10  8 c   k     k     b         2053   30   80 As Tc
jade      932612463 10  7 rr  b     b     c         2103   90    0 Kh Kd
jade      932612548 10  6 r   kc    b     b         2013   70  355 Ks Qc
jade      932612618 10  5 f   -     -     -         2298    0    0 
jade      932612674 10  4 f   -     -     -         2298    0    0 
jade      932612723 10  3 f   -     -     -         2298    0    0 
jade      932612802 10  2 Bf  -     -     -         2298   10    0 
jade      932612869 10  1 Bc  kf    -     -         2288   10    0 
jade      932612920 10 10 f   -     -     -         2278    0    0 
jade      932612997  8  7 f   -     -     -         2278    0    0 
jade      932613043 10  8 f   -     -     -         2278    0    0 
jade      932613081 10  7 f   -     -     -         2278    0    0 
jade      932613129 10  6 f   -     -     -         2278    0    0 
jade      932613189 10  5 f   -     -     -         2278    0    0 
jade      932613236 10  5 f   -     -     -         2278    0    0 
jade      932613273 10  3 f   -     -     -         2278    0    0 
jade      932613353  8  2 Bf  -     -     -         2278   10    0 
jade      932613400  9  1 Bf  -     -     -         2268    5    0 
jade      932613445  9  9 f   -     -     -         2263    0    0 
jade      932613460  8  7 f   -     -     -         2263    0    0 
jade      932613502  8  6 c   kf    -     -         2263   10    0 
jade      932613560  8  5 f   -     -     -         2253    0    0 
jade      932613608  8  4 f   -     -     -         2253    0    0 
jade      932613624  9  3 f   -     -     -         2253    0    0 
jade      932613701  9  2 Bk  kc    b     b         2253   60  160 
jade      932613817  9  1 Bc  kf    -     -         2353   10    0 
jade      932613862  9  9 r   f     -     -         2343   40    0 
jade      932613919  8  7 f   -     -     -         2303    0    0 
jade      932613946  8  6 f   -     -     -         2303    0    0 
jade      932614050  7  5 KQ  -     -     -         2303    0    0 
