Target    910967800  6  2 Br  b     b     b          632   70  165 7s 7d
Target    910967836  7  1 Bc  k     k     bc         727   50    0 As 6s
Target    910967882  7  7 f   -     -     -          677    0    0 
Target    910967928  8  7 f   -     -     -          677    0    0 
Target    910967976  7  5 f   -     -     -          677    0    0 
Target    910968036  7  4 f   -     -     -          677    0    0 
Target    910968082  7  3 rc  kc    kc    k          677   80    0 Qs Ad
Target    910968129  8  3 f   -     -     -          597    0    0 
Target    910968173  8  2 Br  -     -     -          597   30   55 
Target    910968190  8  1 Br  k     b     k          622   40    0 6d 6s
Target    910968271  8  8 f   -     -     -          582    0    0 
Target    910968333  8  7 cc  fQ    -     -          582   40    0 
