jade      973310703 10  5 KQ  -     -     -         2055    0    0 
jade      974323317  9  9 r   c     c     k         2055  100    0 7d 7c
jade      974323370  9  8 f   -     -     -         1955    0    0 
jade      974323430  8  7 f   -     -     -         1955    0    0 
jade      974323454  7  5 r   c     f     -         1955   60    0 
jade      974323488  7  4 f   -     -     -         1895    0    0 
jade      974323519  7  3 f   -     -     -         1895    0    0 
jade      974323552  7  2 Bf  -     -     -         1895   20    0 
jade      974323585  8  1 Bf  -     -     -         1875   10    0 
jade      974323627  8  8 f   -     -     -         1865    0    0 
jade      974323666  8  7 rc  r     r     k         1910  200    0 Ac Ad
jade      974323713  7  5 f   -     -     -         1710    0    0 
jade      974323767  7  5 f   -     -     -         1670    0    0 
jade      974323814  7  4 f   -     -     -         1670    0    0 
jade      974323849  7  3 c   f     -     -         1820   20    0 
jade      974323889  7  2 Bf  -     -     -         1800   20    0 
jade      974323903  7  1 Bf  -     -     -         1780   10    0 
jade      974323925  9  9 c   f     -     -         1765   40    0 
jade      974323970  8  7 f   -     -     -         1780    0    0 
jade      974324022  8  7 f   -     -     -         1800    0    0 
jade      974324097  7  5 f   -     -     -         1855    0    0 
jade      974324123  8  4 f   -     -     -         1845    0    0 
jade      974324154  9  3 f   -     -     -         1845    0    0 
jade      974324189  9  2 Bc  kc    kc    kf        1805  140    0 
jade      974324248 10  1 Bf  -     -     -         1645   10    0 
jade      974324268 10 10 f   -     -     -         1635    0    0 
jade      974324292 10  9 r   k     f     -         1630   40    0 
jade      974324377 10  3 Q   -     -     -         1510    0    0 
