jade      937956855 10  3 f   -     -     -         4258    0    0 
jade      937956926 10  2 Bk  b     b     b         4258  465  630 
jade      937956969 10  1 Bf  -     -     -         4423    5    0 
jade      937957039 10 10 c   r     k     k         4418  375  765 7h 7s
jade      937957091 10  9 f   -     -     -         4808    0    0 
jade      937957157 10  8 f   -     -     -         4808    0    0 
jade      937957214 10  7 f   -     -     -         4808    0    0 
jade      937957259 10  6 f   -     -     -         4808    0    0 
jade      937957285 10  5 c   kf    -     -         4808   45    0 
jade      937957332 10  4 f   -     -     -         4763    0    0 
jade      937957380 10  3 f   -     -     -         4763    0    0 
jade      937957440 10  2 Bc  c     b     kc        4763 2080 4320 Ts Kd
jade      937957489  9  1 Bf  -     -     -         7003    5    0 
jade      937957540  9  9 f   -     -     -         6998    0    0 
jade      937957573  9  8 f   -     -     -         6998    0    0 
jade      937957631  9  7 f   -     -     -         6998    0    0 
jade      937957668  9  6 f   -     -     -         6998    0    0 
jade      937957701  9  5 f   -     -     -         6998    0    0 
jade      937957771 10  4 f   -     -     -         6998    0    0 
jade      937957834 10  3 f   -     -     -         6998    0    0 
jade      937957925 10  2 Bf  -     -     -         6998   10    0 
jade      937957996 10  1 Bf  -     -     -         6988    5    0 
jade      937958051 10 10 f   -     -     -         6983    0    0 
jade      937958120 10  9 f   -     -     -         6983    0    0 
jade      937958179 10  8 f   -     -     -         6983    0    0 
jade      937958233 10  7 f   -     -     -         6983    0    0 
jade      938143087 10  8 f   -     -     -         6728    0    0 
jade      938143118 10  5 Q   -     -     -         6728    0    0 
jade      938230832 10  7 f   -     -     -         6448    0    0 
jade      938230863 10  6 f   -     -     -         6448    0    0 
jade      938230915  9  4 f   -     -     -         6448    0    0 
jade      938230960  9  3 f   -     -     -         6448    0    0 
jade      938230987  9  2 Bf  -     -     -         6448   10    0 
jade      938231008  9  1 Bf  -     -     -         6438    5    0 
jade      938231039  9  9 f   -     -     -         6433    0    0 
jade      938231088  9  8 f   -     -     -         6433    0    0 
jade      938231145  9  7 cc  kc    k     b         6433  945 1320 
jade      938231187  9  6 f   -     -     -         6808    0    0 
jade      938231232  9  5 cc  kf    -     -         6808  200    0 
jade      938231269  9  4 f   -     -     -         6608    0    0 
jade      938231324  9  3 f   -     -     -         6608    0    0 
jade      938231344  9  2 Bc  kr    -     -         6608  335  450 
jade      938231364  9  1 Bc  k     b     br        6723 1210 2430 2h 2c
jade      938231411  9  9 f   -     -     -         7943    0    0 
jade      938231462  9  8 f   -     -     -         7943    0    0 
jade      938231507  9  7 f   -     -     -         7943    0    0 
jade      938231532  9  6 c   rc    k     k         7943  335  675 Jh Ts
jade      938231574  9  5 f   -     -     -         8283    0    0 
jade      938231604  9  4 cc  b     -     -         8283  280  450 
jade      938231630  9  3 f   -     -     -         8453    0    0 
jade      938231642  9  2 B   -     -     -         8453   10   15 
jade      938231648  9  1 Bc  kf    -     -         8458   10    0 
jade      938231679  9  9 f   -     -     -         8448    0    0 
jade      938231706  9  8 f   -     -     -         8448    0    0 
jade      938231717  9  7 f   -     -     -         8448    0    0 
jade      938231761  9  6 f   -     -     -         8448    0    0 
jade      938231814  9  5 f   -     -     -         8448    0    0 
jade      938231868  9  4 f   -     -     -         8448    0    0 
jade      938231918  9  3 f   -     -     -         8448    0    0 
jade      938231957  9  2 Bk  kf    -     -         8448   10    0 
jade      938231982  9  1 Bf  -     -     -         8438    5    0 
jade      938232021  9  9 f   -     -     -         8433    0    0 
jade      938232047  9  8 f   -     -     -         8433    0    0 
jade      938232078  9  7 f   -     -     -         8433    0    0 
jade      938232094  9  6 f   -     -     -         8433    0    0 
jade      938232132  9  5 f   -     -     -         8433    0    0 
jade      938232162  9  4 f   -     -     -         8433    0    0 
jade      938232213  9  3 f   -     -     -         8433    0    0 
jade      938232238  9  2 Bk  b     -     -         8433   50   80 
jade      938232258  9  1 Bc  kf    -     -         8463   10    0 
jade      938232305  9  9 cc  c     c     c         8453 3310    0 Js Ad
jade      938232350  9  8 f   -     -     -         5143    0    0 
jade      938232416 10  8 f   -     -     -         5143    0    0 
jade      938232440 10  7 cc  k     kf    -         5143   45    0 
jade      938232466 10  6 f   -     -     -         5098    0    0 
jade      938232511 10  5 cc  kf    -     -         5098   85    0 
jade      938232593 10  4 f   -     -     -         5013    0    0 
jade      938232610 10  3 cc  kf    -     -         5013   55    0 
jade      938232692 10  2 Bc  kf    -     -         4958  120    0 
jade      938232732 10  1 Bf  -     -     -         4838    5    0 
jade      938232792 10 10 f   -     -     -         4833    0    0 
jade      938232827 10  9 f   -     -     -         4833    0    0 
jade      938232851 10  8 f   -     -     -         4833    0    0 
jade      938232883 10  7 f   -     -     -         4833    0    0 
jade      938232912 10  6 f   -     -     -         4833    0    0 
jade      938232963 10  5 f   -     -     -         4833    0    0 
jade      938232989 10  4 cc  c     f     -         4833  235    0 
jade      938233030 10  3 cc  kf    -     -         4598  160    0 
jade      938233078 10  2 Bc  kr    -     -         4438 1115 1800 
jade      938233152 10  1 Bf  -     -     -         5123    5    0 
jade      938233194 10 10 f   -     -     -         5118    0    0 
jade      938233241 10  9 f   -     -     -         5118    0    0 
jade      938233269 10  8 f   -     -     -         5118    0    0 
jade      938233318 10  7 f   -     -     -         5118    0    0 
jade      938233342 10  6 f   -     -     -         5118    0    0 
jade      938233403 10  5 f   -     -     -         5118    0    0 
jade      938233434 10  4 f   -     -     -         5118    0    0 
jade      938233460 10  3 c   r     b     -         5118  860 1300 
jade      938233515 10  2 Bk  kf    -     -         5558   10    0 
jade      938233565 10  1 Bf  -     -     -         5548    5    0 
jade      938233605 10 10 f   -     -     -         5543    0    0 
jade      938233633 10  9 f   -     -     -         5543    0    0 
jade      938233758 10  8 f   -     -     -         5543    0    0 
jade      938233774 10  7 f   -     -     -         5543    0    0 
jade      938233822 10  6 f   -     -     -         5543    0    0 
jade      938233847 10  5 f   -     -     -         5543    0    0 
jade      938233869 10  4 f   -     -     -         5543    0    0 
jade      938233887 10  3 f   -     -     -         5543    0    0 
jade      938233911 10  2 Bk  kc    k     kf        5543   50    0 
jade      938233948 10  1 Bf  -     -     -         5493    5    0 
jade      938233986 10 10 f   -     -     -         5488    0    0 
jade      938234011 10  9 f   -     -     -         5488    0    0 
jade      938234034 10  8 f   -     -     -         5488    0    0 
jade      938234092 10  7 f   -     -     -         5488    0    0 
jade      938234116 10  6 f   -     -     -         5488    0    0 
jade      938234158 10  5 f   -     -     -         5488    0    0 
jade      938234193 10  4 cc  kf    -     -         5488   65    0 
jade      938234219 10  3 f   -     -     -         5423    0    0 
jade      938234258 10  2 Bc  f     -     -         5423   70    0 
jade      938234299 10  1 Bc  kc    k     k         5353   60    0 As 7s
jade      938234351 10 10 f   -     -     -         5293    0    0 
jade      938234389 10  9 f   -     -     -         5293    0    0 
jade      938234420 10  8 f   -     -     -         5293    0    0 
jade      938234443 10  7 f   -     -     -         5293    0    0 
jade      938234490 10  6 f   -     -     -         5293    0    0 
jade      938234514 10  5 f   -     -     -         5293    0    0 
jade      938234547 10  4 f   -     -     -         5293    0    0 
jade      938234592 10  3 f   -     -     -         5293    0    0 
jade      938234635 10  2 Bc  k     kf    -         5293   35    0 
jade      938234672 10  1 Bc  krc   k     bA        5258 5258    0 Qs Qd
