jade      969813873  5  5 f   -     -     -          685    0    0 
jade      969813900  4  3 r   b     b     -          685   50  100 
jade      969813918  4  2 Bk  k     k     k          735   10    0 7s 3c
jade      969813936  4  1 Br  b     b     -          725   50  120 
jade      969813958  4  4 c   rc    k     b          795   60  220 6c Kd
jade      969813991  5  4 f   -     -     -          955    0    0 
jade      969814019  5  3 r   b     b     k          955   50  120 Kd As
jade      969814047  6  2 Br  b     b     b         1025   70  193 Ah Jc
jade      969814079  5  1 Bf  -     -     -         1148    5    0 
jade      969814107  5  5 f   -     -     -         1143    0    0 
jade      969814139  6  5 f   -     -     -         1133    0    0 
jade      969814185  6  4 f   -     -     -         1133    0    0 
jade      969814212  6  3 f   -     -     -         1133    0    0 
jade      969814242  6  2 Br  b     k     k         1128   30  120 Th Ah
jade      969814285  6  1 Bf  -     -     -         1218    5    0 
jade      969814343  6  6 f   -     -     -         1213    0    0 
jade      969814372  6  5 f   -     -     -         1213    0    0 
jade      969814399  6  4 r   b     b     b         1203   70  190 
jade      969814447  6  3 f   -     -     -         1323    0    0 
jade      969814460  6  2 Bk  c     r     b         1323   80  110 Th 9d
jade      969814512  6  1 Bf  -     -     -         1323    5    0 
jade      969814571  6  6 c   f     -     -         1318   10    0 
jade      969814611  5  4 r   b     b     b         1308   70    0 4s 8s
jade      969814646  5  3 f   -     -     -         1238    0    0 
jade      969814663  5  2 Bk  kf    -     -         1238   10    0 
jade      969814696  5  1 Bf  -     -     -         1228    5    0 
jade      969814726  5  5 r   b     -     -         1223   30   80 
jade      969814754  5  4 f   -     -     -         1273    0    0 
jade      969814805  4  3 r   b     -     -         1273   30   55 
jade      969814831  4  2 BQ  -     -     -         1298   10    0 
