Slim      910220753  8  2 Bc  bf    -     -         1000   30    0 
Slim      910220820  8  1 Bf  -     -     -          970    5    0 
Slim      910220854  8  8 c   c     c     r          965   80    0 3c Qc
Slim      910220922  8  7 f   -     -     -          885    0    0 
Slim      910220958  5  4 f   -     -     -          885    0    0 
Slim      910221010  4  2 Bf  -     -     -          885   10    0 
Slim      910221027  4  1 Bcf -     -     -          875   10    0 
Slim      910221042  4  4 f   -     -     -          865    0    0 
Slim      910221048  4  3 c   k     c     k          865   30    0 3s Ah
Slim      910221093  4  2 Br  b     b     -          835   50  110 
Slim      910221133  4  1 Bc  b     -     -          895   20   30 
Slim      910221177  4  4 f   -     Q     -          905    0    0 
