pug       890463542  3  3 f   -     -     -         6574    0    0 
pug       890463562  3  2 Bk  kf    -     -         6574   50    0 
pug       890463573  3  1 Bcc b     b     kc        6504  350    0 5d Ac
pug       890463594  3  3 f   -     -     -         6154    0    0 
pug       890463604  3  2 B   -     -     -         6154   50   75 
pug       890463606  3  1 Bc  k     k     k         6179   50    0 8d 7h
pug       890463623  3  3 r   b     b     k         6129  250  525 9d 9s
pug       890463645  3  2 B   -     -     -         6404   50   75 
pug       890463651  3  1 Bf  -     -     -         6429   25    0 
pug       890463676  3  3 r   r     b     b         6404  400  900 Tc Jc
pug       890463695  3  2 B   -     -     -         6904   50   75 
pug       890463708  3  1 Bf  -     -     -         6929   25    0 
pug       890463720  3  3 c   r     -     -         6904  150  300 
pug       890463730  3  2 Bc  kf    -     -         7054  100    0 
pug       890463740  3  1 Bc  b     -     -         6954  100  200 
pug       890463750  3  3 rf  -     -     -         7054  100    0 
pug       890463767  3  2 Bc  bc    kc    kc        6954  400    0 Kh 8d
pug       890463783  3  1 Bc  kf    -     -         6554   50    0 
pug       890463800  3  3 r   bc    k     b         6504  300  650 Qh Ah
pug       890463824  2  1 Bf  -     -     -         6854   50    0 
pug       890463835  2  1 BQ  -     -     -         6804   25    0 
