jade      966812541 10  2 Bc  b     b     b         1000   70    0 5d 9d 7c Qh
jade      966812589 10  1 Br  kc    b     kf         930   70    0 
jade      966812650 10 10 c   k     c     k          860   40  185 Kh Ts 2h Jc
jade      966812702 10  9 c   c     f     -         1005   40    0 
jade      966812766 10  8 ccc rc    ccc   f          965  160    0 
jade      966812870 10  7 c   kf    -     -          805   10    0 
jade      966812991 10  6 c   c     crc   k          795  110  275 7h 6s Jh 3h
jade      966813051  9  5 cc  kc    kc    k          960   50    0 8h 5c Ah 2s
jade      966813101  8  4 cc  k     c     b          910   60  160 4d Kc Ah 3d
jade      966813186  8  4 cc  k     kc    kf        1010   40    0 
jade      966813254  7  2 Bk  kc    kc    kf         970   40    0 
jade      966813302  7  1 Bc  k     kf    -          930   20    0 
jade      966813346  7  7 c   rr    rc    c          910  170  140 2d 4s Qc Ad
jade      966813397  7  6 c   c     c     kc         880   60    0 Qh 3h 7c 3d
jade      966813465  7  5 c   k     f     -          820   10    0 
jade      966813510  7  5 c   kc    bc    k          810   60   77 6s 5h 2d 3s
jade      966813550  6  3 c   kc    kc    kc         827   60    0 Jh Qc 6s 6c
jade      966813614  5  2 Bc  kc    kf    -          767   30    0 
jade      966813660  6  1 Bc  kc    b     b          737   60  170 4d 6h Jd 7d
jade      966813707  6  6 cc  c     c     r          847   90  140 8c 3s 6d 8s
jade      966813757  6  5 cc  k     c     k          897   40    0 7s 2s 4c 5h
jade      966813836  5  3 c   k     f     -          857   10    0 
jade      966813869  4  3 c   b     b     b          847   60  150 
jade      966813913  5  2 Br  b     b     b          937   70  175 
jade      966813936  5  1 Bc  b     bc    kc        1042   80    0 6h 9c Ad 4d
jade      966813968  5  5 c   c     c     k          962   60   95 3d 2h 5s 4h
jade      966813996  5  4 c   kc    k     kc         997   40    0 9s Ah Td 3h
jade      966814029  5  3 c   k     c     rc         957   90  110 4c 7h 7s 2d
jade      966814073  6  2 Bk  rr    ccc   kc         977  150    0 8d Ad Jd Qd
jade      966814128  6  1 Br  b     b     kc         827   70    0 Ts 3d Td Ad
jade      966814161  6  6 r   r     b     b          757   80  220 8s Qd Qc 4d
jade      966814199  6  5 c   r     kc    b          897   70  230 3d Th Ac 5h
jade      966814243  6  4 c   kf    Q     -         1057   10    0 
jade      966906445 10  6 KQ  -     -     -         1047    0    0 
