pug       895378691 10  6 f   -     -     -         7834    0    0 
pug       895378762 10  5 f   Q     Q     -         7834    0    0 
pug       895814907  2  2 B   -     -     -         7834   20   30 
pug       895814911  2  1 Bc  b     -     -         7844   40   60 
pug       895814923  2  2 B   -     -     -         7864   20   30 
pug       895814926  2  1 Bf  -     -     -         7874   10    0 
pug       895814930  2  2 Bk  f     -     -         7864   20    0 
pug       895814940  2  1 Bf  -     -     -         7844   10    0 
pug       895814945  2  2 Bc  c     r     b         7834  180  320 
pug       895814971  2  1 Br  k     bc    kc        7974  160  320 2d Kc
pug       895814997  3  2 B   -     -     -         8134   20   30 
pug       895815004  4  1 Bc  kf    -     -         8144   40    0 
pug       895815034  4  4 f   -     -     -         8104    0    0 
pug       895815059  4  3 r   f     -     -         8104   40    0 
pug       895815079  4  2 B   -     -     -         8064   20   30 
pug       895815084  4  1 Bc  kf    -     -         8074   40    0 
pug       895815101  4  4 f   -     -     -         8034    0    0 
pug       895815120  4  3 rc  b     kc    kc        8034  160  350 Js 7s
pug       895815149  4  2 Bk  k     f     -         8224   20    0 
pug       895815171  4  1 Br  b     bc    kc        8204  180    0 Th Td
pug       895815197  4  4 cc  r     f     -         8024   80    0 
pug       895815218  5  4 f   -     -     -         7944    0    0 
pug       895815224  5  3 f   -     -     -         7944    0    0 
pug       895815252  5  2 Bc  kf    -     -         7944   40    0 
pug       895815298  6  1 Bc  k     k     kf        7904   20    0 
pug       895815331  6  6 f   -     -     -         7884    0    0 
pug       895815390  6  5 r   b     k     -         7884   60  150 
pug       895815420  5  4 r   k     b     -         7974   80  190 
pug       895815454  4  2 f   -     -     -         8084    0    0 
pug       895815459  4  2 B   -     -     -         8084   20   30 
pug       895815465  4  1 Bcf -     -     -         8094   20    0 
pug       895815475  4  4 f   -     -     -         8074    0    0 
pug       895815494  4  3 r   b     b     -         8074  100  220 
pug       895815517  4  2 Br  b     b     b         8194  140    0 Ah Qh
pug       895815537  4  1 Bf  -     -     -         8054   10    0 
pug       895815557  4  4 f   -     -     -         8044    0    0 
pug       895815563  4  3 f   -     -     -         8044    0    0 
pug       895815585  4  2 Bc  b     k     b         8044  100    0 4c Td
pug       895815613  4  1 Bf  -     -     -         7944   10    0 
pug       895815623  4  4 f   -     -     -         7934    0    0 
pug       895815628  4  3 rc  c     r     b         7934  200  420 Kc Jh
pug       895815655  4  2 B   -     -     -         8154   20   30 
pug       895815662  4  1 Bf  -     -     -         8164   10    0 
pug       895815673  4  4 r   k     rc    k         8154  160  360 Jh 9s
pug       895815705  4  3 f   -     -     -         8354    0    0 
pug       895815714  4  2 Bk  kc    k     b         8354   80  170 7s Ac
pug       895815736  4  1 Bf  -     -     -         8444   10    0 
pug       895815752  4  4 rc  f     -     -         8434   60    0 
pug       895815765  4  3 r   -     -     -         8374   40   70 
pug       895815770  4  2 Bf  -     -     -         8404   20    0 
pug       895815790  4  1 Bf  -     -     -         8384   10    0 
pug       895815807  4  4 f   -     -     -         8374    0    0 
pug       895815817  4  3 rf  -     -     -         8374   40    0 
pug       895815835  4  2 Bf  -     -     -         8334   20    0 
pug       895815873  4  1 Br  -     -     -         8314   40   60 
pug       895815885  4  4 f   -     -     -         8334    0    0 
pug       895815911  4  3 cc  f     -     -         8334   40    0 
pug       895815929  4  2 Bk  f     -     -         8294   20    0 
pug       895815951  4  1 Br  b     -     -         8274   60  120 
pug       895815970  3  3 rc  f     -     -         8334   60    0 
pug       895815992  4  3 r   -     -     -         8274   40   70 
pug       895816001  4  2 Bk  b     c     k         8304   80  160 3c Kh
pug       895816028  4  1 Bc  k     b     -         8384   60   80 
pug       895816049  4  4 f   -     -     -         8404    0    0 
pug       895816061  4  3 r   bc    c     f         8404  120    0 
pug       895816092  4  2 Bc  kc    kf    -         8284   60    0 
pug       895816112  4  1 Bf  -     -     -         8224   10    0 
pug       895816119  4  4 r   b     -     -         8214   60  140 
pug       895816129  4  3 rf  -     -     -         8294   40    0 
pug       895816146  4  2 Bk  k     f     -         8254   20    0 
pug       895816166  4  1 Bc  kf    -     -         8234   20    0 
pug       895816192  4  4 cc  r     c     c         8214  160  400 6s Qs
pug       895816239  4  3 r   -     -     -         8454   40   70 
pug       895816245  4  2 Bf  -     -     -         8484   20    0 
pug       895816268  4  1 Bf  -     -     -         8464   10    0 
pug       895816287  4  4 f   -     -     -         8454    0    0 
pug       895816310  4  3 f   -     -     -         8454    0    0 
pug       895816321  4  2 Bk  c     r     b         8454  160  280 
pug       895816345  4  1 Br  b     -     -         8574   60  100 
pug       895816356  4  4 r   -     -     -         8614   40   70 
pug       895816360  4  3 f   -     -     -         8644    0    0 
pug       895816376  4  2 Bc  br    b     k         8644  140  290 6c Jd
pug       895816396  4  1 Bf  -     -     -         8794   10    0 
pug       895816414  4  4 rc  f     -     -         8784   60    0 
pug       895816433  4  3 f   -     -     -         8724    0    0 
pug       895816453  5  2 Bf  -     -     -         8724   20    0 
pug       895816470  6  1 Bc  b     -     -         8704   40   60 
pug       895816490  6  6 r   -     -     -         8724   40   70 
pug       895816501  6  5 f   -     -     -         8754    0    0 
pug       895816533  6  4 cc  b     rc    f         8754  180    0 
pug       895816590  5  2 rc  c     c     r         8574  220  480 
pug       895816630  5  2 Bc  bc    kf    -         8834   80    0 
pug       895816650  5  1 Bc  bc    kc    k         8754  140    0 Jh Kd
pug       895816689  5  5 f   -     -     -         8614    0    0 
pug       895816718  5  4 f   -     -     -         8614    0    0 
pug       895816731  5  3 r   b     kr    b         8614  180  430 6s 6c
pug       895816760  4  1 Bc  b     -     -         8864   60  100 
pug       895816781  4  1 BKQ -     -     -         8904   10    0 
pug       895991057  7  6 f   -     -     -         8894    0    0 
pug       895991078  7  5 f   -     -     -         8894    0    0 
pug       895991098  7  4 cc  kf    -     -         8894   40    0 
pug       895991141  7  3 f   -     -     -         8854    0    0 
pug       895991184  7  2 Bk  b     -     -         8854   40   60 
pug       895991224  6  1 Bcc k     kf    -         8874   40    0 
pug       895991264  6  6 f   -     -     -         8834    0    0 
pug       895991297  5  4 f   -     -     -         8834    0    0 
pug       895991317  5  3 f   -     -     -         8834    0    0 
pug       895991325  6  2 Bf  -     -     -         8834   20    0 
pug       895991393  6  1 BQQ -     -     -         8814   10    0 
pug       896329828  8  7 f   -     -     -         8804    0    0 
pug       896329859  8  6 c   k     bf    -         8804   60    0 
pug       896329899  8  5 f   -     -     -         8744    0    0 
pug       896329912  8  4 r   -     -     -         8744   40   70 
pug       896329930  8  3 f   -     -     -         8774    0    0 
pug       896329951  8  2 Bk  b     b     k         8774   80  180 7c Ts
pug       896329991  9  1 Bf  -     -     -         8874   10    0 
pug       896330054  9  9 r   rc    f     -         8864  100    0 
pug       896330114  9  8 cc  f     -     -         8764   40    0 
pug       896330235  7  5 f   -     -     -         8724    0    0 
pug       896330257  7  4 f   -     -     -         8724    0    0 
pug       896330284  7  3 f   -     -     -         8724    0    0 
pug       896330313  7  2 Bc  b     kf    -         8724   60    0 
pug       896330338  7  1 Bf  -     -     -         8664   10    0 
pug       896330456  6  6 f   -     -     -         8654    0    0 
pug       896330482  7  6 f   -     -     -         8654    0    0 
pug       896330520  7  5 f   -     -     -         8654    0    0 
pug       896330557  7  4 f   -     -     -         8654    0    0 
pug       896330566  7  3 rc  kc    bc    b         8654  200    0 Ah Qs
pug       896330603  7  2 Bk  b     kf    -         8454   40    0 
pug       896330631  7  1 Bf  -     -     -         8414   10    0 
pug       896330670  8  8 f   -     -     -         8404    0    0 
pug       896330683  8  7 f   -     -     -         8404    0    0 
pug       896330701  8  6 f   -     -     -         8404    0    0 
pug       896330764  8  5 f   -     -     -         8404    0    0 
pug       896330797  8  4 f   -     -     -         8404    0    0 
pug       896330829  8  4 f   -     -     -         8404    0    0 
pug       896330865  7  2 Bc  kc    kr    b         8404  180    0 As Ts
pug       896330900  7  1 Bc  b     bc    kc        8224  160    0 Th Qs
pug       896330937  7  7 f   -     -     -         8064    0    0 
pug       896330952  7  6 r   b     b     b         8064  140  250 
pug       896330986  7  5 f   -     -     -         8174    0    0 
pug       896331013  7  4 f   -     -     -         8174    0    0 
pug       896331067  7  3 f   -     -     -         8174    0    0 
pug       896331087  7  2 Bk  b     -     -         8174   40   70 
pug       896331118  7  1 Bf  -     -     -         8204   10    0 
pug       896331138  7  7 f   -     -     -         8194    0    0 
pug       896331159  7  6 f   -     -     -         8194    0    0 
pug       896331179  7  5 c   k     k     b         8194   60    0 8d 7d
pug       896331226  7  4 f   -     -     -         8134    0    0 
pug       896331239  7  3 f   -     -     -         8134    0    0 
pug       896331266  7  2 Bc  kf    -     -         8134   40    0 
pug       896331294  7  1 Bf  -     -     -         8094   10    0 
pug       896331318  7  7 c   b     b     -         8084   80  150 
pug       896331351  7  6 f   -     -     -         8154    0    0 
pug       896331368  7  5 f   -     -     -         8154    0    0 
pug       896331377  7  4 f   -     -     -         8154    0    0 
pug       896331401  7  3 r   -     -     -         8154   40   70 
pug       896331412  7  2 Bc  k     kf    -         8184   40    0 
pug       896331443  7  1 Bf  -     -     -         8144   10    0 
pug       896331463  7  7 f   -     -     -         8134    0    0 
pug       896331504  7  6 f   -     -     -         8134    0    0 
pug       896331511  7  5 f   -     -     -         8134    0    0 
pug       896331539  7  4 f   -     -     -         8134    0    0 
pug       896331554  7  3 r   -     -     -         8134   40   70 
pug       896331563  7  2 Bf  -     -     -         8164   20    0 
pug       896331589  7  1 Bc  b     -     -         8144   40   80 
pug       896331617  7  7 r   -     -     -         8184   40   70 
pug       896331630  7  6 f   -     -     -         8214    0    0 
pug       896331663  7  5 f   -     -     -         8214    0    0 
pug       896331714  7  4 f   -     -     -         8214    0    0 
pug       896331732  7  3 c   f     -     -         8214   20    0 
pug       896331754  7  2 Bf  -     -     -         8194   20    0 
pug       896331794  7  1 Bf  -     -     -         8174   10    0 
pug       896331827  7  7 f   -     -     -         8164    0    0 
pug       896331852  7  6 f   -     -     -         8164    0    0 
pug       896331880  7  5 f   -     -     -         8164    0    0 
pug       896331891  7  4 f   -     -     -         8164    0    0 
pug       896331909  7  3 f   -     -     -         8164    0    0 
pug       896331952  6  2 Bc  k     b     kc        8164  120    0 Jc 8d
pug       896331985  6  1 BQ  Q     -     -         8044   10    0 
