pug       887865405  8  3 f   -     -     -         2065    0    0 
pug       887865467  7  2 Bc  kf    -     -         2065   40    0 
pug       887865529  7  1 Bc  bc    b     kc        2025  160    0 3d 4d
pug       887865573  7  7 f   -     -     -         1865    0    0 
pug       887865616  7  6 r   b     k     f         1865   80    0 
pug       887865682  6  4 r   kf    -     -         1785   40    0 
pug       887865710  5  2 BKQ -     -     -         1745   20    0 
pug       887866709  5  4 f   -     -     -         2240    0    0 
pug       887866802  4  2 Brrc c     c     c         2240  220  440 Qd As
pug       887866837  4  1 Br  k     b     -         2460   80  120 
pug       887866868  4  4 rf  -     -     -         2500   40    0 
pug       887866888  4  3 f   -     -     -         2460    0    0 
pug       887866925  4  2 Bf  -     -     -         2460   20    0 
pug       887866982  4  1 Bc  b     b     k         2440  100  220 Th 6d
pug       887867025  4  4 f   -     -     -         2560    0    0 
pug       887867065  4  3 r   rc    kc    kc        2560  180    0 Jh Ks
pug       887867115  4  2 Bk  b     b     bc        2380  160  330 9h Ad
pug       887867151  4  1 Bf  -     -     -         2550   10    0 
pug       887867195  4  4 f   -     -     -         2540    0    0 
pug       887867209  4  3 r   r     b     b         2540  160    0 9h Qc
pug       887867261  4  2 Bf  -     -     -         2380   20    0 
pug       887867282  4  1 Bcc bc    kf    -         2360   80    0 
pug       887867335  4  4 f   -     -     -         2280    0    0 
pug       887867370  4  3 f   -     -     -         2280    0    0 
pug       887867401  4  2 Bf  -     -     -         2280   20    0 
pug       887867485  4  1 Br  -     -     -         2260   40   60 
pug       887867500  4  4 f   -     -     -         2280    0    0 
pug       887867578  5  4 f   -     -     -         2280    0    0 
pug       887867646  5  3 rc  kf    -     -         2280   60    0 
pug       887867718  5  2 Bk  b     k     kf        2220   40    0 
pug       887867767  5  1 Brc bc    brc   k         2180  260    0 Tc Ts
pug       887867823  5  5 f   -     -     -         1920    0    0 
pug       887867880  5  4 cc  kc    krr   brrr      1920  500 1070 6d Ah
pug       887867958  6  3 f   -     -     -         2490    0    0 
pug       887868034  6  2 Bc  rc    rc    cc        2490  360 1040 Kd As
pug       887868121  6  1 Bf  -     -     -         3170   10    0 
pug       887868191  5  5 f   -     -     -         3160    0    0 
pug       887868258  5  5 rc  c     f     -         3160  100    0 
pug       887868376  5  3 f   -     -     -         3060    0    0 
pug       887868418  6  3 f   -     -     -         3060    0    0 
pug       887868440  7  2 Bf  -     -     -         3060   20    0 
pug       887868489  6  1 Bc  kf    -     -         3040   40    0 
pug       887868559  5  5 rc  bc    f     -         3000  100    0 
pug       887868587  4  3 c   k     f     -         2900   20    0 
pug       887868617  4  3 f   -     -     -         2880    0    0 
pug       887868631  4  2 Bk  kf    -     -         2880   20    0 
pug       887868641  4  1 Bc  b     b     -         2860   80  140 
pug       887868659  4  4 f   -     -     -         2920    0    0 
pug       887868681  4  3 f   -     -     -         2920    0    0 
pug       887868697  4  2 Bf  -     -     -         2920   20    0 
pug       887868705  4  1 Bc  kf    -     -         2900   40    0 
pug       887868735  5  5 f   -     -     -         2860    0    0 
pug       887868797  5  4 f   -     -     -         2860    0    0 
pug       887868840  4  3 r   b     -     -         2860   60  110 
pug       887868856  4  2 Bc  kf    -     -         2910   40    0 
pug       887868876  4  1 Bc  kf    -     -         2870   20    0 
pug       887868890  4  4 f   -     -     -         2850    0    0 
pug       887868903  4  3 f   -     -     -         2850    0    0 
pug       887868917  4  2 Bc  bc    kc    kf        2850  120    0 
pug       887868948  4  1 Bf  -     -     -         2730   10    0 
pug       887868957  4  4 rc  c     f     -         2720   80    0 
pug       887868988  4  3 r   b     b     b         2640  140    0 8c Kc
pug       887869011  4  2 Br  b     b     b         2500  160  290 
pug       887869058  4  1 Bf  -     -     -         2630   10    0 
pug       887869096  4  4 f   -     -     -         2620    0    0 
pug       887869123  4  3 r   b     b     -         2620  100  170 
pug       887869149  4  2 Bc  kf    -     -         2690   40    0 
pug       887869165  4  1 Bc  k     b     k         2650   60    0 6s Qc
pug       887869185  4  4 c   r     b     b         2590  140  320 
pug       887869226  4  3 f   -     -     -         2770    0    0 
pug       887869243  4  2 Bf  -     -     -         2770   20    0 
pug       887869265  4  1 Br  br    bc    b         2750  240  700 Jc Ah
pug       887869307  4  4 r   r     r     r         3210  260  700 2d 2c
pug       887869345  4  3 rc  c     f     -         3650  100    0 
pug       887869368  4  2 Bc  r     b     k         3550  120  240 Qh Tc
pug       887869400  4  1 Brc bc    k     k         3670  100    0 7c 7h
pug       887869420  4  4 f   -     -     -         3570    0    0 
pug       887869430  4  3 r   c     f     -         3570   60    0 
pug       887869449  4  2 Bc  kc    kc    k         3510  100    0 5h As
pug       887869482  4  1 Bcf -     -     -         3410   20    0 
pug       887869502  4  4 r   b     -     -         3390   60  120 
pug       887869516  4  3 r   bc    f     -         3450   80    0 
pug       887869545  4  2 Bc  kf    -     -         3370   40    0 
pug       887869568  4  1 Bc  kf    -     -         3330   20    0 
pug       887869584  4  4 f   -     -     -         3310    0    0 
pug       887869596  4  3 f   -     -     -         3310    0    0 
pug       887869619  4  2 Bcc bc    b     b         3310  180  430 Ts 9s
pug       887869649  4  1 Bf  -     -     -         3560   10    0 
pug       887869681  5  5 rc  f     -     -         3550   60    0 
pug       887869712  6  4 f   -     -     -         3490    0    0 
pug       887869763  6  3 rc  kf    -     -         3490   60    0 
pug       887869791  6  2 Bc  kc    k     b         3430  100  135 7d Kc
pug       887869823  6  1 Bc  k     k     k         3465   20   20 8d Kh
pug       887869846  6  6 c   f     -     -         3465   20    0 
pug       887869876  6  5 f   -     -     -         3445    0    0 
pug       887869906  6  4 f   -     -     -         3445    0    0 
pug       887869936  5  2 Bf  -     -     -         3445   20    0 
pug       887869942  4  1 Bc  kf    -     -         3425   40    0 
pug       887869963  4  4 f   -     -     -         3385    0    0 
pug       887869997  4  3 f   -     -     -         3385    0    0 
pug       887870023  4  2 Bc  c     r     r         3385  220  500 8d 8s
pug       887870053  4  1 Bc  kc    kc    k         3665   80   80 6d 3d
pug       887870081  4  4 f   -     -     -         3665    0    0 
pug       887870104  4  3 r   bc    kf    -         3665   80    0 
pug       887870121  4  2 Bc  br    b     b         3585  180  330 
pug       887870140  4  1 Bc  kf    -     -         3735   20    0 
pug       887870167  4  4 f   -     -     -         3715    0    0 
pug       887870179  4  3 f   -     -     -         3715    0    0 
pug       887870194  4  2 Bc  bc    kc    kf        3715  120    0 
pug       887870230  4  1 Bf  -     -     -         3595   10    0 
pug       887870248  4  4 r   c     c     c         3585  160    0 9c Ah
pug       887870286  4  3 f   -     -     -         3425    0    0 
pug       887870295  4  2 Bk  f     -     -         3425   20    0 
pug       887870307  4  1 Bf  -     -     -         3405   10    0 
pug       887870315  4  4 f   -     -     -         3395    0    0 
pug       887870324  4  3 f   -     -     -         3395    0    0 
pug       887870330  4  2 Bf  -     -     -         3395   20    0 
pug       887870348  4  1 Bc  kf    -     -         3375   20    0 
pug       887870368  4  4 f   -     -     -         3355    0    0 
pug       887870389  4  3 rc  kr    b     b         3355  180  350 
pug       887870409  4  2 Bc  bc    kc    kc        3525  160  330 Jh 9d
pug       887870432  4  1 Bf  -     -     -         3695   10    0 
pug       887870448  5  5 f   -     -     -         3685    0    0 
pug       887870481  5  4 f   -     -     -         3685    0    0 
pug       887870492  5  3 f   -     -     -         3685    0    0 
pug       887870506  5  2 Bc  rc    bc    r         3685  280  640 
pug       887870537  5  1 Bf  -     -     -         4045   10    0 
pug       887870578  5  5 f   -     -     -         4035    0    0 
pug       887870598  5  4 f   -     -     -         4035    0    0 
pug       887870643  5  3 rc  f     -     -         4035   60    0 
pug       887870677  5  2 Bf  -     -     -         3975   20    0 
pug       887870712  6  1 Bf  -     -     -         3955   10    0 
pug       887870751  6  6 f   -     -     -         3945    0    0 
pug       887870802  5  4 f   -     -     -         3945    0    0 
pug       887870850  4  3 r   bc    bc    kc        3945  200    0 8c 8d
pug       887870884  4  2 Bc  c     f     -         3745   60    0 
pug       887870904  4  1 Bc  k     b     -         3685   60  100 
pug       887870944  4  4 r   bc    f     -         3725   80    0 
pug       887870968  4  3 f   -     -     -         3645    0    0 
pug       887870978  4  2 Bc  f     -     -         3645   40    0 
pug       887870996  4  1 Bf  -     -     -         3605   10    0 
pug       887871017  4  4 r   b     b     k         3595  100  230 Tc Ts
pug       887871038  3  2 f   -     -     -         3725    0    0 
pug       887871044  3  2 Bk  r     -     -         3725   60  100 
pug       887871053  3  1 Bcc kf    -     -         3765   40    0 
pug       887871064  3  3 r   -     -     -         3725   40   70 
pug       887871070  3  2 Bf  -     -     -         3755   20    0 
pug       887871076  3  1 Bf  -     -     -         3735   10    0 
pug       887871088  3  3 r   b     bc    f         3725  140    0 
pug       887871103  3  2 Bc  f     -     -         3585   40    0 
pug       887871113  3  1 Bf  -     -     -         3545   10    0 
pug       887871125  3  3 f   -     -     -         3535    0    0 
pug       887871142  3  2 Bk  b     b     -         3535   80  140 
pug       887871159  3  1 Bc  b     b     b         3595  120    0 7s 9s
pug       887871175  3  3 r   -     -     -         3475   40   70 
pug       887871184  3  2 Bf  -     -     -         3505   20    0 
pug       887871198  3  1 Br  b     -     -         3485   60  100 
pug       887871205  3  3 rc  c     c     k         3525  120  300 9c Ac
pug       887871229  3  2 Bk  b     b     -         3705   80  120 
pug       887871245  3  1 Br  k     k     k         3745   40   80 Ad Tc
pug       887871259  3  3 f   -     -     -         3785    0    0 
pug       887871278  3  2 Bf  -     -     -         3785   20    0 
pug       887871286  3  1 Bc  k     k     kf        3765   20    0 
pug       887871322  3  3 f   -     -     -         3745    0    0 
pug       887871328  3  2 Bc  bc    b     k         3745  120    0 Qs 3d
pug       887871348  4  1 Bc  kf    -     -         3625   40    0 
pug       887871380  4  4 f   -     -     -         3585    0    0 
pug       887871385  4  3 f   -     -     -         3585    0    0 
pug       887871389  4  2 Bk  kf    -     -         3585   20    0 
pug       887871401  4  1 Bf  -     -     -         3565   10    0 
pug       887871414  5  5 rr  c     f     -         3555  100    0 
pug       887871456  5  4 f   -     -     -         3455    0    0 
pug       887871485  5  3 f   -     -     -         3455    0    0 
pug       887871520  5  2 Bf  -     -     -         3455   20    0 
pug       887871542  5  1 Bc  k     b     b         3435  100    0 Kh Ts
pug       887871573  5  5 f   -     -     -         3335    0    0 
pug       887871606  5  4 f   Q     -     -         3335    0    0 
