jade      966461976  3  2 Br  br    r     b          875  110  240 Ad 7s
jade      966462012  3  1 Br  b     b     b         1005   70  120 
jade      966462028  3  3 f   -     -     -         1055    0    0 
jade      966462042  3  2 Br  r     r     b         1055  110  270 7c 3c
jade      966462064  4  1 Br  k     kf    -         1250   30    0 
jade      966462107  4  4 rc  r     r     b         1200  120  290 2h 9h
jade      966462133  5  4 rc  f     -     -         1370   40    0 
jade      966462151  5  3 rr  r     r     f         1310  100    0 
jade      966462172  5  2 Bf  -     -     -         1210   10    0 
jade      966462186  5  1 Br  bcc   k     kf        1200   80    0 
jade      966462232  4  4 rc  rr    rr    rr        1122  240  505 
jade      966462284  4  3 rr  rc    rr    rr        1367  240  520 
jade      966462334  4  2 Br  r     r     r         1862  140  380 6d 8d
jade      966462367  5  1 Br  bc    krc   kf        2092  120    0 
jade      966462419  4  4 rr  f     -     -         1952   40    0 
jade      966462450  5  3 f   -     -     -         1862    0    0 
jade      966462458  5  2 Bf  -     -     -         1862   10    0 
jade      966462463  5  1 Bf  -     -     -         1852    5    0 
jade      966462470  5  5 r   f     -     -         1847   30    0 
jade      966462488  5  4 f   -     -     -         1817    0    0 
jade      966462506  5  3 f   -     -     -         1777    0    0 
jade      966462540  5  2 Bc  bcc   krc   kf        1777  120    0 
jade      966462602  5  1 Bf  -     -     -         1657    5    0 
jade      966462663  5  5 rc  f     -     -         1652   40    0 
jade      966462686  5  4 r   kf    -     -         1612   20    0 
jade      966462717  5  3 f   -     -     -         1592    0    0 
jade      966462807  5  2 Br  r     c     r         1432  110  300 Tc As
jade      966462903  5  1 Br  b     b     kr        1632   90  170 
jade      966462930  6  6 f   -     -     -         1712    0    0 
jade      966462952  6  5 r   rr    br    b         1672  140  320 
jade      966463007  6  4 f   -     -     -         1852    0    0 
jade      966463043  6  3 rr  f     -     -         1852   40    0 
jade      966463065  6  2 Bf  -     -     -         1792   10    0 
jade      966463106  6  1 Br  kc    kf    -         1782   70    0 
jade      966463170  6  6 f   -     -     -         1632    0    0 
jade      966463210  5  4 rc  f     -     -         1572   40    0 
jade      966463276  5  3 f   -     -     -         1422    0    0 
jade      966463305  6  2 Br  b     -     -         1422   50  130 
jade      966463341  6  1 Br  b     b     b         1502   80  270 8s 8c
jade      966463417  6  6 f   -     -     -         1652    0    0 
jade      966463455  6  5 rc  cf    -     -         1652   60    0 
jade      966463513  8  5 f   -     -     -         1572    0    0 
jade      966463583  7  4 rc  c     r     f         1572   90    0 
jade      966463641  6  2 f   -     Q     -         1482    0    0 
jade      966468049  8  7 f   -     -     -         1482    0    0 
jade      966468116  8  6 f   -     -     -         1482    0    0 
jade      966468200 10  5 f   -     -     -         1482    0    0 
jade      966468285 10  4 r   rr    b     bf        1482  100    0 
jade      966468408 10  3 r   bc    brc   kr        1302  160  535 Kh As
jade      966468482 10  2 Br  kc    kc    krr       1677  140    0 Kc Jh
jade      966468587 10  1 Bf  -     -     -         1522    5    0 
jade      966468689 10 10 r   k     k     k         1337   20    0 8s 3s
jade      966468797  9  8 f   -     -     -         1317    0    0 
jade      966468855  8  6 f   -     -     -         1257    0    0 
jade      966468905  8  6 f   -     -     -         1257    0    0 
jade      966468979  8  5 r   c     f     -         1257   30    0 
jade      966469031 10  5 r   b     b     b         1227   70  185 
jade      966469080 10  4 r   b     bc    f         1072   70    0 
jade      966469148  9  2 r   b     b     b         1002   70    0 Th Jh
jade      966469190  9  2 Bk  kf    -     -          842   10    0 
jade      966469248  9  1 Bf  -     -     -          827    5    0 
jade      966469291  9  9 r   f     -     -          822   20    0 
jade      966469374  9  8 r   f     -     -          802   20    0 
jade      966469433 10  8 r   r     k     k          702   40    0 6s 6d
jade      966469490 10  7 f   -     -     -          592    0    0 
jade      966469553 10  6 r   f     -     -          592   20    0 
jade      966469633 10  5 cc  c     r     c          332   90    0 4c 5c
jade      966469715 10  4 r   b     kc    kf         287   50    0 
jade      966469816 10  3 f   -     -     -          227    0    0 
jade      966469924 10  2 Bf  Q     -     -          117   10    0 
