jade      935106975 10  7 f   -     -     -         4043    0    0 
jade      935107023 10  6 f   -     -     -         4043    0    0 
jade      935107071  9  5 f   -     -     -         4043    0    0 
jade      935107095  8  3 c   b     k     f         4043   40    0 
jade      935107158  8  3 f   -     -     -         4003    0    0 
jade      935107191  8  2 Bk  k     kf    -         4003   20    0 
jade      935107241  8  1 Bc  kf    -     -         3983   20    0 
jade      935107283  8  8 f   -     -     -         3963    0    0 
jade      935107309  8  7 f   -     -     -         3963    0    0 
jade      935107336  9  7 f   -     -     -         3963    0    0 
jade      935107366  9  6 fQ  -     -     -         3963    0    0 
jade      935114761  9  8 f   -     -     -         3963    0    0 
jade      935114780  9  7 f   -     -     -         3963    0    0 
jade      935114845  9  6 c   f     -     -         3963   40    0 
jade      935114958  8  5 f   -     -     -         3923    0    0 
jade      935114993  9  4 c   k     f     -         3923   20    0 
jade      935115034 10  3 f   -     -     -         3903    0    0 
jade      935115106  9  2 Bk  b     k     b         3903   80  220 2c 2d
jade      935115147  9  1 Bc  kf    -     -         4043   20    0 
jade      935115211  9  9 f   -     -     -         4023    0    0 
jade      935115273 10  9 f   -     -     -         4023    0    0 
jade      935115364 10  8 f   -     -     -         4023    0    0 
jade      935115409 10  7 c   f     -     -         4023   40    0 
jade      935115475 10  6 f   -     -     -         3983    0    0 
jade      935115529 10  5 c   f     -     -         3983   20    0 
jade      935115568 10  4 f   -     -     -         3963    0    0 
jade      935115626 10  3 f   -     -     -         3963    0    0 
jade      935115670 10  2 B   -     -     -         3963   20   30 
jade      935115788 10  1 Bc  k     k     k         3973   20   40 5s 3c
jade      935115812 10 10 f   -     -     -         3993    0    0 
jade      935115861 10  9 f   -     -     -         3993    0    0 
jade      935115941  9  7 f   -     -     -         3993    0    0 
jade      935116019 10  7 f   Q     -     -         3993    0    0 
jade      935629772  5  2 Bk  k     b     -         4063   60   80 
jade      935629795  5  1 Bc  k     k     b         4083   60  100 
jade      935629825  5  5 c   k     f     -         4123   20    0 
jade      935629840  5  4 rr  b     b     kc        4103  180    0 7c 7s
jade      935629867  5  3 c   k     k     k         3923   20    0 8d 6s
jade      935629903  6  2 Bk  k     kc    kc        3903  100    0 3h Qd
jade      935629960  6  1 Bf  -     Q     -         3803   10    0 
jade      935958871  9  4 f   -     -     -         3848    0    0 
jade      935958906  9  3 f   -     -     -         3848    0    0 
jade      935958927  9  2 Bf  -     -     -         3848   20    0 
jade      935958967  9  1 Bf  -     -     -         3828   10    0 
jade      935958975  9  9 f   -     -     -         3818    0    0 
jade      935959002  9  8 f   -     -     -         3818    0    0 
jade      935959044  9  7 c   k     c     f         3818   60    0 
jade      935959080  9  6 f   -     -     -         3758    0    0 
jade      935959107  9  5 f   -     -     -         3758    0    0 
jade      935959168  9  4 c   k     f     -         3758   20    0 
jade      935959218  9  3 f   -     -     -         3738    0    0 
jade      935959246  9  2 Bc  kf    -     -         3738   60    0 
jade      935959300  9  1 Bf  -     -     -         3678   10    0 
jade      935959360  8  8 f   -     -     -         3668    0    0 
jade      935959402  8  7 f   -     -     -         3668    0    0 
jade      935959453  8  6 f   -     -     -         3668    0    0 
jade      935959491  8  5 f   -     -     -         3668    0    0 
jade      935959539  8  4 f   -     -     -         3668    0    0 
jade      935959573  8  2 f   -     -     -         3668    0    0 
jade      935959621  8  2 Bcc kf    -     -         3668   60    0 
jade      935959660  9  1 Bf  -     -     -         3608   10    0 
jade      935959705  9  9 c   f     -     -         3598   40    0 
jade      935959729  9  4 Q   -     -     -         3558    0    0 
