jade      932948284  8  6 f   -     -     -         3478    0    0 
jade      932948310  8  5 f   -     -     -         3478    0    0 
jade      932948325  8  4 f   -     -     -         3478    0    0 
jade      932948363  8  3 f   -     -     -         3478    0    0 
jade      932948381  8  2 Bc  br    -     -         3478  100  190 
jade      932948406  8  1 Bc  k     kf    -         3568   40    0 
jade      932948432  9  8 f   -     -     -         3528    0    0 
jade      932948465 10  7 f   -     -     -         3528    0    0 
jade      932948473 10  6 f   -     -     -         3528    0    0 
jade      932948498 10  5 f   -     -     -         3528    0    0 
jade      932948534 10  4 f   -     -     -         3528    0    0 
jade      932948549 10  3 f   -     -     -         3528    0    0 
jade      932948577 10  2 Bc  kf    -     -         3528   40    0 
jade      932948606 10  1 Bc  kf    -     -         3488   20    0 
jade      932948654 10 10 r   b     -     -         3468   60  130 
jade      932948674 10  9 f   -     -     -         3538    0    0 
jade      932948689 10  8 c   c     c     rc        3538  220    0 9c Tc
jade      932948740 10  7 f   -     -     -         3318    0    0 
jade      932948795 10  6 f   -     -     -         3318    0    0 
jade      932948858 10  5 f   -     -     -         3318    0    0 
jade      932948888 10  4 f   -     -     -         3318    0    0 
jade      932948918 10  4 f   -     -     -         3318    0    0 
jade      932948954 10  2 Bk  b     -     -         3318   40   60 
jade      932948974 10  1 Bc  kf    -     -         3338   20    0 
jade      932949005 10 10 c   f     -     -         3318   20    0 
jade      932949026  8  7 f   -     -     -         3298    0    0 
jade      932949036  9  7 f   -     -     -         3298    0    0 
jade      932949069 10  7 c   c     f     -         3298   40    0 
jade      932949113 10  6 f   -     -     -         3258    0    0 
jade      932949136 10  5 c   kf    -     -         3258   20    0 
jade      932949168 10  4 f   -     -     -         3238    0    0 
jade      932949219 10  3 c   rc    c     cf        3238  160    0 
jade      932949283 10  2 Bk  k     k     k         3078   20   40 3h Ts
jade      932949327 10  1 Bc  k     kf    -         3098   20    0 
jade      932949371 10 10 f   -     -     -         3078    0    0 
jade      932949406 10  9 f   -     -     -         3078    0    0 
jade      932949419 10  8 f   -     -     -         3078    0    0 
jade      932949459 10  7 f   -     -     -         3078    0    0 
jade      932949514 10  6 rc  rc    c     c         3078  240  980 Kc Kh
jade      932949578 10  5 f   -     -     -         3818    0    0 
jade      932949627 10  4 f   -     -     -         3818    0    0 
jade      932949659 10  4 cc  r     c     c         3818  180  540 Ts Qs
jade      932949728  9  2 Bf  -     -     -         4178   20    0 
jade      932949771  9  1 Bf  -     -     -         4158   10    0 
jade      932949786  9  9 rc  c     c     c         4148  160    0 Jc Jh
jade      932949824  8  7 c   f     -     -         3988   20    0 
jade      932949861  9  6 f   -     -     -         3968    0    0 
jade      932949878  8  4 f   -     -     -         3968    0    0 
jade      932949906  8  3 f   -     -     -         3968    0    0 
jade      932949948  8  2 Bc  f     -     -         3968   40    0 
jade      932949976  8  1 Bf  -     -     -         3928   10    0 
jade      932949993  8  8 c   c     c     f         3918  100    0 
jade      932950025  8  7 c   f     -     -         3818   20    0 
jade      932950043  8  6 f   -     -     -         3798    0    0 
jade      932950076  7  4 r   b     b     bc        3798  180    0 9h 9c
jade      932950171  6  3 ccc r     b     b         3618  200  530 Kh 6c
jade      932950214  7  2 Bk  f     -     -         3948   20    0 
jade      932950242  7  1 Bc  k     kf    -         3928   20    0 
jade      932950269  7  7 f   -     -     -         3908    0    0 
jade      932950312  7  6 f   -     -     -         3908    0    0 
jade      932950342  7  5 cc  rc    kf    -         3908  100    0 
jade      932950381  8  5 r   b     b     b         3808  140  320 
jade      932950424  9  5 f   -     -     -         3988    0    0 
jade      932950441  9  4 cc  kc    kf    -         3988  100    0 
jade      932950496  9  3 f   -     -     -         3888    0    0 
jade      932950506  9  2 Bc  br    -     -         3888  100  190 
jade      932950528  9  1 Bc  kc    kc    b         3978  140  380 Jh Qc
jade      932950579 10 10 c   f     -     -         4218   40    0 
jade      932950625 10  9 f   -     -     -         4178    0    0 
jade      932950658  9  7 f   -     -     -         4178    0    0 
jade      932950689  9  6 f   -     -     -         4178    0    0 
jade      932950729  9  5 f   -     -     -         4178    0    0 
jade      932950737  9  4 f   -     -     -         4178    0    0 
jade      932950760  9  3 cc  kc    kf    -         4178   60    0 
jade      932950796  9  2 Bf  -     -     -         4118   20    0 
jade      932950827  9  1 Bc  kcc   kf    -         4098  120    0 
jade      932950871  9  9 f   -     -     -         3978    0    0 
jade      932950905  9  8 f   -     -     -         3978    0    0 
jade      932950940  9  7 r   brc   f     -         3978  120    0 
jade      932950972 10  7 Q   -     -     -         3858    0    0 
