edge      860917063  4  4  f    -      -      -        -         1000    0    0 7s
edge      860917104  4  4  c    b      b      -        -         1000   40   60 7s 3c 6c
edge      860917144  4  2  f    -      -      -        -         1020    0    0 Kd
edge      860917157  4  3  cc  +kf     -      -        -         1020   20    0 6c Ac
edge      860917253  5  1 +Bk   f      -      -        -         1000   10    0 3c 4s
edge      860917298  5  2  f    -      -      -        -          990    0    0 Qh
edge      860917319  5  1 +Bc   k      f      -        -          990   20    0 4d 2s Ts
edge      860917363  5  4  f    -      -      -        -          970    0    0 5c
edge      860917396  5  2  f    -      -      -        -          970    0    0 9d
edge      860917436  6  5  rc   r      b      r        bc         970  150    0 8c 7d 6s 9c  7s 8h 3c
edge      860917541  6  1 +Bf   -      -      -        -          820   10    0 2h
edge      860917624  5  4  f    -      -      -        -          810    0    0 6d
edge      860917678  5  2  c   +b      -      -        -          810   20   40 Jd Th
edge      860917701  7  5  c    k     +bf     -        -          830   30    0 Kh 8h Kd
edge      860917818  7  5  f    -      -      -        -          800    0    0 7c
edge      860918028  8  4  f    -      -      -        -          800    0    0 2s
edge      860918625  7  3  f    -      -      -        -          810    0    0 4d
edge      860918732  7  3  f    -      Q      -        -          810    0    0 Jd
